<nav id="top-bar" class="collapse top-bar-collapse">
        <ul class="nav navbar-nav pull-left" data-bind="template: { name: 'memu_Items', foreach: menuItems}">
        </ul>

        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user"></i>
                    Rod Howard 
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="../page-profile.html">
                            <i class="fa fa-user"></i> 
                            &nbsp;&nbsp;My Profile
                        </a>
                    </li>
                    <li>
                        <a href="../page-calendar.html">
                            <i class="fa fa-calendar"></i> 
                            &nbsp;&nbsp;My Calendar
                        </a>
                    </li>
                    <li>
                        <a href="../page-settings.html">
                            <i class="fa fa-cogs"></i> 
                            &nbsp;&nbsp;Settings
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="../page-login.html">
                            <i class="fa fa-sign-out"></i> 
                            &nbsp;&nbsp;Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav> <!-- /#top-bar -->

    <script type="text/html" id="memu_Items">
        <!-- ko if: singlemenuItem -->
        <li class="">
            <a href="" data-bind="text: menuItemName, attr: { href: url }">
                <i class="" data-bind="attr:{ class: menuIcon}"></i> 
                Home
            </a>
        </li>
        <!-- /ko -->
        <!-- ko if: dropdownItem -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-bind="text: menuItemName, attr: { href: url }">
                    Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" data-bind="template: { name: 'dropDownListItems', foreach: items }">
                     
                </ul>
            </li>
        <!-- /ko -->
    </script>


    <script type="text/html" id="dropDownListItems">
        <li><a href="#" data-bind="text: menutext, attr: { href: url }"><i class="fa fa-user" data-bind="attr: { class: icon}"></i>&nbsp;&nbsp;Example #1</a></li>
    </script>