/*Theme    : assan - restaurant
 * Author  : Design_mylife
 * Version : V1.1
 * 
 */
 @import url(http://fonts.googleapis.com/css?family=Raleway:400,600,500,700);
 @import url(http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,600);
 @import url(http://fonts.googleapis.com/css?family=Great+Vibes);
 /**base**/
 html, body {
   height: 100%; }
 
 body {
   font-family: "Cabin", sans-serif;
   line-height: 22px;
   color: #5555;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%; }
 
 a {
   color: #f2b84b; }
   a i {
     margin-left: 5px; 
   }
   a:hover {
     color: #999; 
   }
 
 a, button {
   -moz-transition: all 0.3s;
   -o-transition: all 0.3s;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
   border: 0px;
   background-color: transparent; }
 
 a, a:hover, a:focus, button, button:focus {
   text-decoration: none;
   outline: 0 !important; }
 
 h1, h1, h3, h4, h5, h6 {
   margin-top: 0px; }
 
 .margin-b-30 {
   margin-bottom: 30px; }
 
 .center-title {
   margin-bottom: 50px; }
   .center-title h3 {
     text-transform: uppercase;
     font-weight: 700;
     margin: 0px;
     font-size: 35px;
     line-height: 35px;
     font-family: "Raleway", sans-serif; }
   .center-title .center-line {
     display: block;
     margin: 20px auto;
     height: 3px;
     text-align: center;
     width: 60px;
     background-color: rgba(0, 0, 0, 0.1); }
   .center-title p {
     font-size: 16px;
     color: #777; }
 
 .center-line {
   display: block;
   margin: 10px auto;
   height: 3px;
   text-align: center;
   width: 60px;
   background-color: rgba(0, 0, 0, 0.1); }
 
 /**buttons**/
 .btn {
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   -ms-border-radius: 0px;
   border-radius: 0px;
   border: 0px;
   text-transform: uppercase; }
   .btn i {
     margin-left: 5px;
     display: inline-block;
     vertical-align: middle;
     margin-top: -1px; }
 
 .btn-yellow {
   background-color: #f2b84b;
   color: #fff; }
   .btn-yellow:hover, .btn-yellow:focus {
     background-color: #333;
     color: #fff; }
 
 .btn-light {
   background-color: #fff;
   color: #f2b84b; }
   .btn-light:hover, .btn-light:focus {
     background-color: #333;
     color: #fff; }
 
 /****navigation***/
 .navbar-default {
   background-color: rgba(0, 0, 0, 0.5);
   border: 0px;
   padding: 10px 0;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out; }
 
 .navbar-default .navbar-nav > li > a {
   color: #fff;
   text-transform: uppercase;
   font-size: 13px; }
 
 .navbar-default .navbar-nav > li > a:hover {
   color: #f2b84b; }
 
 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
   color: #f2b84b;
   background-color: transparent; }
 
 .navbar-default .navbar-brand {
   color: #fff;
   font-size: 35px; }
 
 .navbar-default .navbar-brand:hover {
   color: #fff; }
 
 /**on scroll change navigation style**/
 .navbar-default.shrink {
   background: rgba(255, 255, 255, 0.95);
   -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
   -ms-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
   border: 0px;
   padding: 3px 0; }
 
 .navbar-default.shrink .navbar-nav > li > a {
   color: #333; }
 
 .shrink.navbar-default .navbar-nav > .active > a, .shrink.navbar-default .navbar-nav > .active > a:focus, .shrink.navbar-default .navbar-nav > .active > a:hover {
   color: #f2b84b;
   background-color: transparent; }
 
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
   color: #f2b84b;
   background-color: transparent; }
 
 .navbar-default.shrink .navbar-brand {
   color: #000;
   font-size: 30px; }
 
 .navbar-default.shrink .navbar-brand:hover {
   color: #000; }
 
 /**home**/
 #home {
   background-color: transparent;
   background-position: center 0%;
   background-size: auto;
   background-repeat: repeat;
   background-attachment: fixed;
   display: table;
   width: 100%;
   height: 100%;
   min-height: 100%;
   overflow-x: hidden;
   overflow-y: hidden;
   vertical-align: middle;
   z-index: 1; }
   #home .home-inner {
     position: relative;
     display: table-cell;
     vertical-align: middle;
     z-index: 3; }
     #home .home-inner h3 {
       font-family: "Great Vibes", cursive;
       color: #fff;
       font-size: 30px;
       text-transform: capitalize;
       margin-bottom: 30px; }
     #home .home-inner .flexslider {
       padding: 20px;
       background-color: transparent;
       border: 0px;
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       -ms-box-shadow: none;
       box-shadow: none; }
       #home .home-inner .flexslider .slides {
         margin: 0;
         padding: 0; }
         #home .home-inner .flexslider .slides li {
           text-transform: uppercase;
           font-size: 40px;
           line-height: 40px;
           color: #fff;
           font-weight: 700;
           font-family: "Raleway", sans-serif; }
       #home .home-inner .flexslider .flex-control-nav {
         left: 0; }
 
 /**about us**/
 .about-section {
   padding-top: 80px;
   padding-bottom: 50px;
   background-color: #fff; }
 
 .img-service-box {
   margin-bottom: 30px; }
   .img-service-box img {
     margin-bottom: 5px; }
   .img-service-box h3 {
     font-size: 20px;
     font-weight: 700;
     line-height: 40px;
     margin: 0px; }
   .img-service-box p {
     font-weight: 400;
     font-size: 13px; }
 
 /**testimonials**/
 .testimonials {
   padding: 80px 0; }
   .testimonials .center-title h3 {
     color: #fff; }
   .testimonials .center-title p {
     color: #fff; }
   .testimonials .center-line {
     background-color: rgba(255, 255, 255, 0.5); }
   .testimonials .flexslider {
     border: 0px;
     background-color: transparent;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none;
     box-shadow: none;
     text-align: center;
     margin: 0px; }
     .testimonials .flexslider .slides li p {
       color: #fff;
       margin-top: 20px;
       font-size: 20px;
       font-weight: 400;
       line-height: 30px;
       padding: 0px 30px; }
     .testimonials .flexslider .slides li h6 {
       color: #f2b84b; }
     .testimonials .flexslider .slides li img {
       width: 90px;
       height: 90px;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       margin: 0 auto; }
   .testimonials .flex-direction-nav a {
     text-decoration: none;
     display: block;
     width: 40px;
     height: 40px;
     text-align: center;
     line-height: 40px;
     margin: -20px 0 0;
     position: absolute;
     top: 50%;
     z-index: 10;
     overflow: hidden;
     opacity: 0;
     cursor: pointer;
     color: rgba(255, 255, 255, 0.8);
     text-shadow: none;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease; }
   .testimonials .flex-direction-nav a i {
     display: inline-block;
     font-size: 25px; }
   .testimonials .flex-direction-nav a.flex-next:before {
     display: none; }
   .testimonials .flex-direction-nav a:before {
     display: none; }
 
 /**********************
 
 Restaurant menu style
 
 **********************/
 .menu-section {
   padding-top: 80px;
   padding-bottom: 50px;
   background-color: #f1f1f1; }
 
 /***menu style***/
 .menu-style {
   margin-bottom: 15px;
   padding: 0px; }
   .menu-style li {
     padding-bottom: 15px;
     margin-bottom: 15px;
     border-bottom: 1px dashed #ddd; }
     .menu-style li img {
       float: left;
       margin-right: 10px;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       -ms-border-radius: 3px;
       border-radius: 3px; }
     .menu-style li .detail {
       display: block;
       overflow: hidden; }
       .menu-style li .detail h4 {
         margin-bottom: 5px;
         text-transform: uppercase;
         font-size: 16px;
         font-weight: 600; }
       .menu-style li .detail .price {
         color: #f2b84b;
         text-align: right;
         display: block;
         font-size: 20px;
         margin-top: 5px; }
 
 /**opening hours**/
 .opening-hours {
   padding-top: 80px;
   padding-bottom: 50px; }
   .opening-hours .center-title h3 {
     color: #fff; }
   .opening-hours .center-title .center-line {
     background-color: rgba(255, 255, 255, 0.3); }
   .opening-hours .center-title p {
     color: #fff;
     font-family: "Great Vibes", cursive;
     font-size: 25px; }
   .opening-hours .opening-hours-box {
     padding: 20px;
     text-align: center;
     background-color: rgba(0, 0, 0, 0.7);
     margin-bottom: 40px; }
     .opening-hours .opening-hours-box h1 {
       color: #fff;
       font-family: "Great Vibes", cursive;
       margin-bottom: 20px; }
     .opening-hours .opening-hours-box h3 {
       color: #f2b84b;
       font-weight: 700; }
 
 /**events****/
 .section-dishes {
   padding-top: 80px;
   padding-bottom: 50px;
   background-color: #fff; }
   .section-dishes .dishes-box {
     position: relative;
     margin-bottom: 30px;
     border: 1px solid #ddd;
     margin-left: 15px;
     margin-right: 15px; }
     .section-dishes .dishes-box .price-dishes {
       display: inline-block;
       color: #fff;
       background-color: #f2b84b;
       font-size: 20px;
       padding: 7px 10px;
       position: absolute;
       top: 0;
       left: 0;
       text-align: center; }
     .section-dishes .dishes-box .dishes-desc {
       padding: 15px; }
       .section-dishes .dishes-box .dishes-desc h3 {
         color: #f2b84b;
         text-transform: capitalize; }
 
 .dishes-slider {
   position: relative; }
   .dishes-slider .owl-buttons {
     margin-top: 10px;
     text-align: center;
     position: absolute;
     top: 50%;
     margin-top: -20px;
     width: 100%; }
     .dishes-slider .owl-buttons .owl-prev {
       position: absolute;
       left: 0; }
     .dishes-slider .owl-buttons .owl-next {
       position: absolute;
       right: 0; }
   .dishes-slider .owl-buttons > div {
     -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
     -ms-border-radius: 0px;
     border-radius: 0px;
     background-color: #f2b84b; }
 
 .cta {
   padding: 60px 0; }
   .cta h2 {
     color: #fff;
     font-family: "Great Vibes", cursive;
     font-size: 60px;
     line-height: 80px;
     margin-bottom: 30px; }
 
 .owl-theme .owl-controls .owl-buttons div {
   background: #f2b84b !important;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   -ms-border-radius: 0px;
   border-radius: 0px; }
 
 /**events**/
 .section-events {
   padding-top: 80px;
   padding-bottom: 50px;
   background-color: #e1e1e1; }
 
 .event-thumb {
   position: relative;
   overflow: hidden; }
   .event-thumb .overlay {
     position: absolute;
     width: 96%;
     left: 2%;
     top: 2%;
     height: 96%;
     background-color: rgba(0, 0, 0, 0.6);
     opacity: 0;
     text-align: center;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
     -ms-backface-visibility: hidden;
     -moz-transition: all 0.35s;
     -o-transition: all 0.35s;
     -webkit-transition: all 0.35s;
     transition: all 0.35s; }
     .event-thumb .overlay .overlay-inner {
       position: absolute;
       width: 100%;
       top: -50%;
       margin-top: -10px;
       -moz-transition: all 0.35s;
       -o-transition: all 0.35s;
       -webkit-transition: all 0.35s;
       transition: all 0.35s; }
       .event-thumb .overlay .overlay-inner h4 {
         color: #fff;
         text-transform: uppercase; }
       .event-thumb .overlay .overlay-inner p {
         color: #fff; }
   .event-thumb:hover .overlay {
     opacity: 1; }
   .event-thumb:hover .overlay-inner {
     top: 50%; }
 
 .event-desc {
   padding: 15px;
   background-color: #fff; }
   .event-desc h4 {
     margin-top: 0;
     margin-bottom: 15px; }
   .event-desc span {
     display: inline-block;
     text-transform: uppercase;
     padding: 6px 10px;
     font-size: 13px; }
   .event-desc .date {
     background-color: #f2b84b;
     color: #fff; }
   .event-desc .time {
     background-color: #f9f9f9; }
   .event-desc p {
     margin: 15px 0; }
 
 /***********our shefs*******/
 .our-chefs {
   padding-top: 80px;
   padding-bottom: 50px; }
   .our-chefs .center-title h3 {
     color: #fff; }
   .our-chefs .center-line {
     background-color: rgba(255, 255, 255, 0.5); }
   .our-chefs .center-title p {
     color: #fff; }
 
 .chef-thumb {
   position: relative;
   width: 220px;
   height: 220px;
   text-align: center;
   overflow: hidden;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   border-radius: 50%;
   border: 5px solid #f2b84b;
   background-color: #f2b84b;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px; }
 
 .chef-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   border-radius: 50%;
   background-color: rgba(0, 0, 0, 0.5);
   -moz-transition: all 0.35s;
   -o-transition: all 0.35s;
   -webkit-transition: all 0.35s;
   transition: all 0.35s;
   opacity: 0; }
 
 .chef-social {
   position: absolute;
   width: 100%;
   top: -10%;
   text-align: center;
   margin-top: -10px;
   -moz-transition: all 0.35s;
   -o-transition: all 0.35s;
   -webkit-transition: all 0.35s;
   transition: all 0.35s; }
   .chef-social a {
     display: inline-block;
     width: 35px;
     height: 35px;
     line-height: 35px;
     text-align: center;
     color: #fff;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     border-radius: 50%;
     background-color: #f2b84b;
     font-size: 15px;
     margin: 4px; }
     .chef-social a i {
       display: inline-block; }
 
 .chef-thumb:hover .chef-overlay {
   opacity: 1; }
 
 .chef-thumb:hover .chef-social {
   top: 50%; }
 
 /**chef desc**/
 .chef-desc {
   padding: 15px;
   background-color: #f2b84b;
   position: relative;
   text-align: center; }
   .chef-desc:before {
     content: " ";
     position: absolute;
     left: 45%;
     top: -14px;
     width: 0;
     height: 0;
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
     border-bottom: 15px solid #f2b84b; }
   .chef-desc h4 {
     color: #fff;
     margin-bottom: 8px;
     font-weight: 600; }
   .chef-desc em {
     color: #fff; }
   .chef-desc p {
     color: #fff;
     margin-bottom: 0px; }
 
 /************section gallery*************/
 .section-gallery {
   background-color: #fff;
   padding-top: 80px;
   padding-bottom: 50px; }
 
 .grid-item {
   overflow: hidden;
   padding: 0px;
   position: relative; }
 
 .gallery-overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   -moz-transition: all 0.4s;
   -o-transition: all 0.4s;
   -webkit-transition: all 0.4s;
   transition: all 0.4s; }
   .gallery-overlay p {
     position: absolute;
     left: 0;
     width: 100%;
     top: 50%;
     margin-top: -5px;
     text-align: center;
     -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s; }
     .gallery-overlay p a {
       color: #aaa;
       font-size: 40px; }
       .gallery-overlay p a:hover {
         color: #fff; }
 
 .grid-item:hover .gallery-overlay {
   opacity: 1; }
 
 /****reservation**********/
 .reservation {
   padding-top: 80px;
   padding-bottom: 50px;
   background-color: #f2b84b; }
   .reservation .center-title h3 {
     color: #fff; }
   .reservation .center-title p {
     color: #fff; }
   .reservation .center-title .center-line {
     background-color: rgba(255, 255, 255, 0.3); }
 
 .reservation-form .form-control {
   border: 0px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   -ms-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -ms-box-shadow: none;
   box-shadow: none;
   margin-bottom: 15px;
   min-height: 45px;
   text-transform: uppercase; }
 
 .validation {
   background: #fdcfcf; }
 
 /**footer****/
 .footer {
   padding: 50px 0;
   background-color: rgba(0, 0, 0, 0.5); }
   .footer span {
     color: #fff;
     display: block;
     margin-top: 15px; }
 
 .social li a {
   background-color: rgba(0, 0, 0, 0.8);
   color: #fff;
   width: 38px;
   height: 38px;
   line-height: 38px;
   text-align: center;
   font-size: 18px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   border-radius: 50%;
   display: inline-block; }
 
 .top-space {
   height: 100px; }
 
 .menu-title {
   padding-top: 150px; }
   .menu-title h1 {
     color: #fff;
     text-transform: uppercase;
     margin-bottom: 20px;
     font-size: 40px;
     line-height: 40px;
     font-family: "Raleway", sans-serif;
     font-weight: 700; }
 
 /***self hosted video css***/
 /**video css new**/
 .video-section {
   width: 100%;
   height: 1100px;
   position: relative;
   display: table;
   overflow: hidden; }
 
 .video-section .overlay {
   background-color: rgba(0, 0, 0, 0.6);
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1; }
 
 .video-section .fs-background-container {
   left: 0; }
 
 .video-section .video-overlay {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   z-index: 2; }
 
 /************pace css***************
 
 Automatic page load progress bar
 
 By ADAMSCHWARTZ
 ***************/
 .pace {
   -webkit-pointer-events: none;
   pointer-events: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
   -webkit-perspective: 12rem;
   -moz-perspective: 12rem;
   -ms-perspective: 12rem;
   -o-perspective: 12rem;
   perspective: 12rem;
   z-index: 2000;
   position: fixed;
   height: 6rem;
   width: 6rem;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0; }
 
 .pace.pace-inactive .pace-progress {
   display: none; }
 
 .pace .pace-progress {
   position: fixed;
   z-index: 2000;
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   height: 6rem;
   width: 6rem !important;
   line-height: 6rem;
   font-size: 2rem;
   border-radius: 50%;
   background: rgba(209, 205, 46, 0.8);
   color: #fff;
   font-family: "Helvetica Neue", sans-serif;
   font-weight: 100;
   text-align: center;
   -webkit-animation: pace-theme-center-circle-spin linear infinite 2s;
   -moz-animation: pace-theme-center-circle-spin linear infinite 2s;
   -ms-animation: pace-theme-center-circle-spin linear infinite 2s;
   -o-animation: pace-theme-center-circle-spin linear infinite 2s;
   animation: pace-theme-center-circle-spin linear infinite 2s;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   transform-style: preserve-3d; }
 
 .pace .pace-progress:after {
   content: attr(data-progress-text);
   display: block; }
 
 @-webkit-keyframes pace-theme-center-circle-spin {
   from {
     -webkit-transform: rotateY(0deg); }
   to {
     -webkit-transform: rotateY(360deg); } }
 @-moz-keyframes pace-theme-center-circle-spin {
   from {
     -moz-transform: rotateY(0deg); }
   to {
     -moz-transform: rotateY(360deg); } }
 @-ms-keyframes pace-theme-center-circle-spin {
   from {
     -ms-transform: rotateY(0deg); }
   to {
     -ms-transform: rotateY(360deg); } }
 @-o-keyframes pace-theme-center-circle-spin {
   from {
     -o-transform: rotateY(0deg); }
   to {
     -o-transform: rotateY(360deg); } }
 @keyframes pace-theme-center-circle-spin {
   from {
     transform: rotateY(0deg); }
   to {
     transform: rotateY(360deg); } }
 /*************resposnive css***********/
 @media (max-width: 768px) {
   #home .home-inner .flexslider .slides li {
     font-size: 30px;
     line-height: 30px; }
 
   #home .home-inner h3 {
     margin-bottom: 0px; }
 
   .navbar-default {
     padding: 0px; } }
 @media (max-width: 414px) {
   #home .home-inner .flexslider .slides li {
     font-size: 20px;
     line-height: 20px; }
 
   #home .home-inner h3 {
     font-size: 20px; } }
 @media (max-width: 414px) {
   #home .home-inner .flexslider .slides li {
     font-size: 18px;
     line-height: 18px; }
 
   #home .home-inner h3 {
     font-size: 18px; }
 
   .center-title h3 {
     font-size: 25px; } }
 /**contact modal**/
 #contact-modal {
   padding-right: 0 !important; }
   #contact-modal .modal-header {
     border-bottom: 0px; }
   #contact-modal .modal-dialog {
     width: 100%;
     margin: 0px; }
   #contact-modal .modal-content {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     -ms-border-radius: 0;
     border-radius: 0;
     border: 0px;
     background-color: rgba(0, 0, 0, 0.8);
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none;
     box-shadow: none; }
   #contact-modal .form-control {
     min-height: 40px;
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     -ms-border-radius: 0;
     border-radius: 0;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none;
     box-shadow: none;
     position: relative;
     border: 0px;
     background-color: rgba(255, 255, 255, 0.2);
     color: #fff; }
   #contact-modal .help-block ul {
     padding: 0;
     list-style: none; }
     #contact-modal .help-block ul li {
       color: #f2b84b; }
   #contact-modal .close {
     color: #fff;
     opacity: 1; }
   #contact-modal h3 {
     text-transform: uppercase;
     color: #fff;
     margin-bottom: 30px; }
 
 /*# sourceMappingURL=restaurant-one-page-light.css.map */
 