@import url("http://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans:400italic,400,600,700");
img {
  max-width: 100%;
}
.ct-btn-image,
main .ct-product-button,
main .ct-product-wishlist,
.ct-cart-checkout,
.ct-wishlist-checkout,
.ct-cart-clear,
.ct-wishlist-clear,
.ct-cart-add-to-cart,
.ct-wishlist-add-to-cart {
  background-image: url("../img/btnWarningBG.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  position: relative;
  z-index: 1;
}
.ct-btn-image i,
main .ct-product-button i,
main .ct-product-wishlist i,
.ct-cart-checkout i,
.ct-wishlist-checkout i,
.ct-cart-clear i,
.ct-wishlist-clear i,
.ct-cart-add-to-cart i,
.ct-wishlist-add-to-cart i {
  margin-right: 10px;
}
.ct-btn-image:before,
main .ct-product-button:before,
main .ct-product-wishlist:before,
.ct-cart-checkout:before,
.ct-wishlist-checkout:before,
.ct-cart-clear:before,
.ct-wishlist-clear:before,
.ct-cart-add-to-cart:before,
.ct-wishlist-add-to-cart:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  transition: all, 0.4s, ease;
  z-index: -1;
  background-color: #f4c806;
}
.ct-btn-image:hover:before,
main .ct-product-button:hover:before,
main .ct-product-wishlist:hover:before,
.ct-cart-checkout:hover:before,
.ct-wishlist-checkout:hover:before,
.ct-cart-clear:hover:before,
.ct-wishlist-clear:hover:before,
.ct-cart-add-to-cart:hover:before,
.ct-wishlist-add-to-cart:hover:before {
  width: 100%;
  height: 100%;
}
.btn-motive,
main .ct-product-button,
main .ct-product-wishlist,
.ct-cart-checkout,
.ct-wishlist-checkout,
.ct-cart-clear,
.ct-wishlist-clear,
.ct-cart-add-to-cart,
.ct-wishlist-add-to-cart {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  padding: 12px 45px;
  text-transform: uppercase;
  transition: all, 0.3s ease;
  letter-spacing: normal;
}
.btn-motive:hover,
main .ct-product-button:hover,
main .ct-product-wishlist:hover,
.ct-cart-checkout:hover,
.ct-wishlist-checkout:hover,
.ct-cart-clear:hover,
.ct-wishlist-clear:hover,
.ct-cart-add-to-cart:hover,
.ct-wishlist-add-to-cart:hover,
.btn-motive:active,
main .ct-product-button:active,
main .ct-product-wishlist:active,
.ct-cart-checkout:active,
.ct-wishlist-checkout:active,
.ct-cart-clear:active,
.ct-wishlist-clear:active,
.ct-cart-add-to-cart:active,
.ct-wishlist-add-to-cart:active,
.btn-motive:focus,
main .ct-product-button:focus,
main .ct-product-wishlist:focus,
.ct-cart-checkout:focus,
.ct-wishlist-checkout:focus,
.ct-cart-clear:focus,
.ct-wishlist-clear:focus,
.ct-cart-add-to-cart:focus,
.ct-wishlist-add-to-cart:focus {
  color: #fff;
}
main {
  padding: 100px 0 50px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
main .ct-product {
  margin-bottom: 30px;
}
main .ct-product img {
  width: 100%;
  float: left;
}
main .ct-product .inner {
  border: 4px solid #9ace4c;
  padding: 15px;
}
main .ct-product .inner:before,
main .ct-product .inner:after {
  content: '';
  display: table;
  clear: both;
}
main .ct-product-price {
  float: right;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  background-image: url("../img/GreendecorationBG2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 15px;
  position: relative;
  right: -15px;
}
main .ct-product-title {
  float: left;
  font-size: 15px;
  color: #542700;
  font-weight: 600;
  padding: 0 12px 10px;
  width: 100%;
}
main .ct-product-button,
main .ct-product-wishlist {
  float: left;
}
main .ct-product-wishlist {
  padding-left: 12px;
  padding-right: 0;
  background-image: url("../img/GreendecorationBG2.png");
}
main .ct-product-wishlist:before {
  background-color: #9ace4c;
}
.ct-widget-wrapper {
  position: relative;
  background: #9ace4c;
}
.ct-widget-wrapper:before {
  content: '';
  background-image: url("../img/GreenbodyBG.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: -5px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.widget {
  padding: 0 15px;
}
.ct-cart,
.ct-wishlist {
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
}
.ct-cart:before,
.ct-wishlist:before,
.ct-cart:after,
.ct-wishlist:after {
  content: '';
  display: table;
  clear: both;
}
.ct-cart-promo input,
.ct-wishlist-promo input {
  width: 80% !important;
  margin: 15px 0 10px !important;
}
.ct-cart-left,
.ct-wishlist-left {
  width: 100px;
  padding-right: 10px;
  float: left;
}
.ct-cart-body,
.ct-wishlist-body {
  float: left;
  width: calc(100% - 100px);
}
.ct-cart-total,
.ct-wishlist-total {
  display: inline-block;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  font-weight: 600;
  padding: 5px 25px;
  color: #fff;
  background-image: url("../img/btnWarningBG.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  margin: 15px 0 10px;
}
.ct-cart-total:before,
.ct-wishlist-total:before {
  content: 'Total: ';
}
.ct-cart-empty,
.ct-wishlist-empty {
  top: 30px;
}
.ct-cart ul,
.ct-wishlist ul,
.ct-cart ol,
.ct-wishlist ol {
  list-style: none;
  padding: 0;
  text-align: left;
}
.ct-cart li,
.ct-wishlist li {
  padding: 10px 40px 10px 0;
  position: relative;
  margin: 20px 0;
}
.ct-cart li + li,
.ct-wishlist li + li {
  margin-top: 20px;
}
.ct-cart li:before,
.ct-wishlist li:before,
.ct-cart li:after,
.ct-wishlist li:after {
  content: '';
  display: table;
  clear: both;
}
.ct-cart input,
.ct-wishlist input {
  width: 45px;
  display: inline-block;
  margin-left: 15px;
  color: #542700;
}
.ct-cart-name,
.ct-wishlist-name {
  display: block;
  color: #542700;
  font-weight: 700;
}
.ct-cart-price,
.ct-wishlist-price {
  font-size: 25px;
  font-weight: 700;
}
.ct-cart-remove,
.ct-wishlist-remove {
  background: url("../img/BrownBG.png");
  position: absolute;
  top: 15px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border: none;
  line-height: 1;
  padding: 5px 8px;
  z-index: 1;
  border-radius: 50%;
}
.ct-cart-remove:before,
.ct-wishlist-remove:before {
  position: absolute;
  border-radius: 50%;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  transition: all, 0.4s, ease;
  z-index: -1;
  background-color: #422106;
}
.ct-cart-remove:hover:before,
.ct-wishlist-remove:hover:before {
  width: 100%;
  height: 100%;
}
.ct-cart-checkout,
.ct-wishlist-checkout,
.ct-cart-clear,
.ct-wishlist-clear,
.ct-cart-add-to-cart,
.ct-wishlist-add-to-cart {
  width: 45%;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
}
.ct-cart-checkout,
.ct-wishlist-checkout {
  float: left;
}
.ct-cart-clear,
.ct-wishlist-clear {
  float: right;
}
.ct-cart-add-to-cart,
.ct-wishlist-add-to-cart {
  display: block;
  width: 80%;
  margin-top: 0;
  font-size: 24px;
}
.widget {
  margin-bottom: 50px;
  padding-top: 20px;
}
.widget-header {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  padding-top: 0;
  margin: 0;
  color: #fff;
}
