
/*Theme    : assan - restaurant
 * Author  : Design_mylife
 * Version : V1.1
 * 
 */

@import "_mixins";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,500,700);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,600);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);


//Variables for assan restaurant
$primary-font:'Raleway', sans-serif;
$default-font:'Cabin', sans-serif;
$secondry-font: 'Great Vibes', cursive;
$skincolor:#f2b84b;
$base-line-height:22px;


/**base**/
html,body{
    height: 100%;
}
body{
    font-family: $default-font;
    line-height: $base-line-height;
    color:#5555;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a{
    color:$skincolor;
    i{
        margin-left:5px;
    }
    &:hover{
        color:#999;
    }
}
a,button{
    @include transition(all 0.3s);
    border:0px;
    background-color: transparent;
}
a,a:hover,a:focus,button,button:focus{
    text-decoration: none;
    outline: 0 !important;
}
h1,h1,h3,h4,h5,h6{
    margin-top: 0px;
}
.margin-b-30{
    margin-bottom: 30px;
}
.center-title{
    margin-bottom: 50px;
    h3{
        text-transform: uppercase;
        font-weight: 700;
        margin: 0px;
        font-size: 35px;
        line-height:35px;
        font-family: $primary-font;
    }
    .center-line{
        display: block;
        margin: 20px auto;
        height: 3px;
        text-align: center;
        width: 60px;
        background-color: rgba(0,0,0,0.1);
    }
    p{
        font-size: 16px;
        color:#777;
    }
}
.center-line{
    display: block;
    margin: 10px auto;
    height: 3px;
    text-align: center;
    width: 60px;
    background-color: rgba(0,0,0,0.1);
}

/**buttons**/
.btn{
    @include border-radius(0px);
    border:0px;
    text-transform:uppercase;
    i{
        margin-left:5px;
        display: inline-block;
        vertical-align: middle;
        margin-top:-1px;
    }
}
.btn-yellow{
    background-color: $skincolor;
    color:#fff;
    &:hover,&:focus{
        background-color: #333;
        color:#fff;
    }
}
.btn-light{
    background-color: #fff;
    color:$skincolor;
    &:hover,&:focus{
        background-color:#333;
        color:#fff;
    }
}
/****navigation***/
.navbar-default {
    background-color: rgba(0,0,0,0.5);
    border:0px;
    padding: 10px 0;
    @include transition (all 0.5s ease-in-out);
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.navbar-default .navbar-nav>li>a:hover{
    color:$skincolor;;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: $skincolor;
    background-color: transparent;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 35px;
}
.navbar-default .navbar-brand:hover{
    color:#fff;
}
/**on scroll change navigation style**/
.navbar-default.shrink {
    background: rgba(255,255,255,0.95); 
    @include box-shadow(0px 1px 4px rgba(0,0,0,0.1));
    border:0px;
    padding: 3px 0;
}
.navbar-default.shrink .navbar-nav>li>a {
    color: #333;

}
.shrink.navbar-default .navbar-nav>.active>a, .shrink.navbar-default .navbar-nav>.active>a:focus, .shrink.navbar-default .navbar-nav>.active>a:hover {
    color: $skincolor;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: $skincolor;
    background-color: transparent;
}
.navbar-default.shrink .navbar-brand {
    color: #000;
    font-size: 30px;
}
.navbar-default.shrink .navbar-brand:hover{
    color:#000;
}

/**home**/
#home{
    background-color: transparent;
    background-position: center 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    z-index: 1;
    .home-inner{
        position: relative;
        display: table-cell;
        vertical-align: middle;
        z-index: 3;
        h3{
            font-family: $secondry-font;
            color:#fff;
            font-size: 30px;
            text-transform: capitalize;
            margin-bottom: 30px;
        }
        .flexslider{
            padding:20px;
            background-color:transparent;
            border:0px;
            @include box-shadow(none);
            .slides {
                margin: 0;
                padding: 0;
                li{
                    text-transform: uppercase;
                    font-size: 40px;
                    line-height: 40px;
                    color:#fff;
                    font-weight: 700;
                    font-family: $primary-font;
                }
            }
            .flex-control-nav{
                left:0;
            }
        }
    }
}

/**about us**/
.about-section{
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #fff;
}
.img-service-box{
    margin-bottom: 30px;
    img{
        margin-bottom: 5px;
    }
    h3{
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
        margin: 0px;
    }
    p{
        font-weight: 400;
        font-size: 13px;
    }
}

/**testimonials**/
.testimonials{
    padding: 80px 0;
    .center-title h3{
        color:#fff;
    }
    .center-title p{
        color:#fff;
    }
    .center-line{
        background-color: rgba(255,255,255,0.5);
    }
    .flexslider{
        border: 0px;
        background-color: transparent;
        @include box-shadow(none);
        text-align:center;
        margin:0px;
        .slides li{
            p{
                color: #fff;
                margin-top: 20px;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                padding: 0px 30px;
            }
            h6{
                color:$skincolor;
            }
            img{
                width: 90px;
                height: 90px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                margin: 0 auto;
            }
        }
    }
    .flex-direction-nav a {
        text-decoration: none;
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin: -20px 0 0;
        position: absolute;
        top: 50%;
        z-index: 10;
        overflow: hidden;
        opacity: 0;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        text-shadow: none;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .flex-direction-nav a i {
        display: inline-block;
        font-size: 25px;
    }
    .flex-direction-nav a.flex-next:before {
        display: none;
    }
    .flex-direction-nav a:before {
        display: none;
    }
}



/**********************

Restaurant menu style

**********************/
.menu-section{
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #f1f1f1;
}


/***menu style***/
.menu-style{
    margin-bottom: 15px;
    padding: 0px;
    li{
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px dashed #ddd;
        img{
            float: left;
            margin-right: 10px;
            @include border-radius(3px);
        }

        .detail{
            display: block;

            overflow:hidden;
            h4{
                margin-bottom: 5px;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
            }
            .price{
                color:$skincolor;
                text-align: right;
                display: block;
                font-size: 20px;
                margin-top: 5px;
            }
        }
    }
}

/**opening hours**/
.opening-hours{
    padding-top: 80px;
    padding-bottom: 50px;
    .center-title{
        h3{
            color:#fff;
        }
        .center-line{
            background-color: rgba(255,255,255,0.3);
        }
        p{
            color:#fff;
            font-family: $secondry-font;
            font-size: 25px;
        }
    }
    .opening-hours-box{
        padding: 20px;
        text-align:center;
        background-color:rgba(0,0,0,0.7);
        margin-bottom:40px;
        h1{
            color:#fff;
            font-family: $secondry-font;
            margin-bottom:20px;
        }
        h3{
            color:$skincolor;
            font-weight: 700;
        }
    }
}


/**events****/
.section-dishes{
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #fff;
    .dishes-box{
        position: relative;
        margin-bottom: 30px;
        border:1px solid #ddd;
        margin-left:15px;
        margin-right:15px;
        .price-dishes{
            display: inline-block;
            color:#fff;
            background-color:$skincolor;
            font-size: 20px;
            padding: 7px 10px;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
        }
        .dishes-desc{
            padding: 15px;
            h3{
                color:$skincolor;
                text-transform: capitalize;
            }
        }
    }
}
.dishes-slider{
    position: relative;

    .owl-buttons {
        margin-top: 10px;
        text-align: center;
        position: absolute;
        top:50%;
        margin-top: -20px;
        width:100%;
        .owl-prev{
            position: absolute;
            left: 0;
        }
        .owl-next{
            position: absolute;
            right:0;
        }
    }
    .owl-buttons>div{
        @include border-radius(0px);
        background-color: $skincolor;
    }
}
.cta{
    padding: 60px 0;
    h2{
        color:#fff;
        font-family: $secondry-font;
        font-size: 60px;
        line-height: 80px;
        margin-bottom: 30px;
    }
}
.owl-theme .owl-controls .owl-buttons div{
    background:$skincolor !important;
    @include border-radius(0px);
}
/**events**/
.section-events{
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #e1e1e1;
}
.event-thumb{
    position: relative;
    overflow: hidden;
    .overlay{
        position: absolute;
        width: 96%;
        left: 2%;
        top: 2%;
        height: 96%;
        background-color: rgba(0,0,0,0.6);
        opacity: 0;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        @include transition(all 0.35s);
        .overlay-inner{
            position: absolute;
            width: 100%;
            top: -50%;
            margin-top: -10px;
            @include transition(all 0.35s);
            h4{
                color:#fff;
                text-transform: uppercase;
            }
            p{
                color:#fff;
            }
        }

    }
    &:hover .overlay{
        opacity: 1;
    }
    &:hover .overlay-inner{
        top:50%;
    }
}
.event-desc{
    padding: 15px;
    background-color: #fff;
    h4{
        margin-top:0;
        margin-bottom: 15px;
    }
    span{
        display: inline-block;
        text-transform: uppercase;
        padding: 6px 10px;
        font-size: 13px;
    }
    .date{
        background-color: $skincolor;
        color:#fff;
    }
    .time{
        background-color: #f9f9f9;
    }
    p{
        margin: 15px 0;
    }
}


/***********our shefs*******/
.our-chefs{
    padding-top: 80px;
    padding-bottom: 50px;
    .center-title h3{
        color:#fff;
    }
    .center-line{
        background-color: rgba(255,255,255,0.5);
    }
    .center-title p{
        color:#fff;
    }
}
.chef-thumb{
    position: relative;
    width:220px;
    height: 220px;
    text-align: center;
    overflow: hidden;
    @include border-radius(50%);
    border: 5px solid $skincolor;
    background-color: $skincolor;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.chef-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    text-align: center; 
    @include border-radius(50%);
    background-color: rgba(0,0,0,0.5);
    @include transition(all 0.35s);
    opacity: 0;
}
.chef-social{
    position: absolute;
    width: 100%;
    top: -10%;
    text-align: center;
    margin-top:-10px;
    @include transition(all 0.35s);
    a{
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color:#fff;
        @include border-radius(50%);
        background-color: $skincolor;
        font-size: 15px;
        margin:4px;
        i{
            display: inline-block;
        }
    }
}
.chef-thumb:hover .chef-overlay{
    opacity: 1;
}
.chef-thumb:hover .chef-social{
    top:50%;
}
/**chef desc**/
.chef-desc{
    padding: 15px;
    background-color: $skincolor;
    position: relative;
    text-align:center;
    &:before{
        content: " ";
        position: absolute;
        left: 45%;
        top: -14px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $skincolor;
    }
    h4{
        color:#fff;
        margin-bottom: 8px;
        font-weight: 600;
    }
    em{
        color:#fff;
    }
    p{
        color:#fff;
        margin-bottom: 0px;
    }
}


/************section gallery*************/
.section-gallery{
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 50px;

}

.grid-item{
    overflow: hidden;
    padding: 0px;
    position: relative;
}
.gallery-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    opacity:0;
    @include transition(all 0.4s);
    p{
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        margin-top: -5px;
        text-align: center;
        @include transition(all 0.3s);
        a{
            color:#aaa;
            font-size: 40px;
            &:hover{
                color:#fff;
            }
        }
    }
}
.grid-item:hover .gallery-overlay{
    opacity: 1;
}

/****reservation**********/
.reservation{
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: $skincolor;
    .center-title{
        h3{
            color:#fff;
        }
        p{
            color:#fff;
        }
        .center-line{
            background-color: rgba(255,255,255,0.3);
        }
    }
}
.reservation-form .form-control{
    border: 0px;
    @include border-radius(0px);
    @include box-shadow(none);
    margin-bottom: 15px;
    min-height: 45px;
    text-transform: uppercase;
}
.validation {
    background: rgba(253, 207, 207, 1) ;
}

/**footer****/
.footer{
    padding: 50px 0;
    background-color: rgba(0,0,0,0.5);
    span{
        color:#fff;
        display: block;
        margin-top: 15px;
    }
}
.social li a{
    background-color: rgba(0,0,0,0.8);
    color:#fff;
    width:38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 18px;
    @include border-radius(50%);
    display: inline-block;
}


.top-space{
    height:100px;
}
.menu-title{
    padding-top:150px;
    h1{
        color:#fff;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 40px;
        font-family:$primary-font;
        font-weight: 700;
    }
}

/***self hosted video css***/
/**video css new**/
.video-section {
  width: 100%;
  height: 600px;
  position: relative;
  display: table;
  overflow: hidden; }

.video-section .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.video-section .fs-background-container {
  left: 0; }

.video-section .video-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 2; }
/************pace css***************

Automatic page load progress bar

By ADAMSCHWARTZ
***************/

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    -webkit-perspective: 12rem;
    -moz-perspective: 12rem;
    -ms-perspective: 12rem;
    -o-perspective: 12rem;
    perspective: 12rem;

    z-index: 2000;
    position: fixed;
    height: 6rem;
    width: 6rem;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pace.pace-inactive .pace-progress {
    display: none;
}

.pace .pace-progress {
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 6rem;
    width: 6rem !important;
    line-height: 6rem;
    font-size: 2rem;
    border-radius: 50%;
    background: rgba(209, 205, 46, 0.8);
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    text-align: center;

    -webkit-animation: pace-theme-center-circle-spin linear infinite 2s;
    -moz-animation: pace-theme-center-circle-spin linear infinite 2s;
    -ms-animation: pace-theme-center-circle-spin linear infinite 2s;
    -o-animation: pace-theme-center-circle-spin linear infinite 2s;
    animation: pace-theme-center-circle-spin linear infinite 2s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pace .pace-progress:after {
    content: attr(data-progress-text);
    display: block;
}

@-webkit-keyframes pace-theme-center-circle-spin {
    from { -webkit-transform: rotateY(0deg) }
    to { -webkit-transform: rotateY(360deg) }
}

@-moz-keyframes pace-theme-center-circle-spin {
    from { -moz-transform: rotateY(0deg) }
    to { -moz-transform: rotateY(360deg) }
}

@-ms-keyframes pace-theme-center-circle-spin {
    from { -ms-transform: rotateY(0deg) }
    to { -ms-transform: rotateY(360deg) }
}

@-o-keyframes pace-theme-center-circle-spin {
    from { -o-transform: rotateY(0deg) }
    to { -o-transform: rotateY(360deg) }
}

@keyframes pace-theme-center-circle-spin {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}



/*************resposnive css***********/
@media(max-width:768px){
    #home .home-inner .flexslider .slides li{
        font-size: 30px;
        line-height: 30px;
    }
    #home .home-inner h3{
        margin-bottom: 0px;
    }
    .navbar-default{
        padding: 0px;
    }
}
@media(max-width:414px){
    #home .home-inner .flexslider .slides li{
        font-size: 20px;
        line-height: 20px;
    } 
    #home .home-inner h3{
        font-size: 20px;
    }
}
@media(max-width:414px){
    #home .home-inner .flexslider .slides li{
        font-size: 18px;
        line-height: 18px;
    } 
    #home .home-inner h3{
        font-size: 18px;
    }
    .center-title h3{
        font-size: 25px;
    }
}

/**contact modal**/

#contact-modal{
    padding-right:0 !important;
    .modal-header{
        border-bottom: 0px;
    }
    .modal-dialog{
        width: 100%;
        margin: 0px;
    }
    .modal-content{
        @include border-radius(0);
        border:0px;
        background-color: rgba(0,0,0,0.8);
        @include box-shadow(none);
    }
    .form-control{
        min-height: 40px;
        @include border-radius(0);
           @include box-shadow(none);
           position: relative;
           border: 0px;
           background-color: rgba(255,255,255,0.2);
           color:#fff;
           
    }
    .help-block{
        ul{
            padding: 0;
            list-style: none;
            li{
                color:$skincolor;
            }
        }
    }
    .close{
        color:#fff;
        opacity: 1;
    }
    h3{
        text-transform: uppercase;
        color:#fff;
        margin-bottom: 30px;
    }
}
