<!-- <div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 center-title text-center">
            <h3 data-bind="text: header"></h3>
            <span class="center-line"></span>
            <p data-bind="text: subHeader"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="menu-style list-unstyled" data-bind="template: { name: 'menuItems', foreach: menuItem }">
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="skyboxx-menu.html" class="btn btn-lg btn-yellow">Order Now for Pickup<i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div> 


<script id="menuItems" type="text/html">
    <li class="clearfix">
        <img src="" class="img-responsive" width="" alt="menu-img" data-bind="attr: { src: url, width: width }">

        <div class="detail">
            <h4 data-bind="text: menuItemHeader"></h4>
            <p data-bind="text: menuItemDescription"></p>
            <span class="price" data-bind="text: menuItemPrice"></span>
        </div>
    </li>
</script> -->
<div class="ct-pageWrapper">
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                <div class="ct-widget-wrapper">
                    <div class="widget">
                    <h2 class="widget-header" data-bind="text: header">Shopping Cart</h2>
                    <div class="ct-cart"></div>
                    </div>
                    <div class="widget">
                    <h2 class="widget-header">Wishlist</h2>
                    <div class="ct-wishlist"></div>
                    </div>
                </div>
                </div>
                <div class="col-md-8 col-md-pull-4">
                    <div class="row" data-bind="template: { name: 'menu-Items', foreach: menuItem}">
        
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="skyboxx-menu.html" class="btn btn-lg btn-yellow">Order Now for Pickup<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </main>
</div>



<script type="text/html" id="menu-Items">
    <div class="col-sm-6">
        <div class="ct-product fresh">
            <div class="inner"><img src="" class="ct-product-image" data-bind="attr: {src: url}">
            <div class="ct-product-price" data-bind="value: price"></div>
            <div class="ct-product-title" data-bind="text: productTitle"></div>
            <div class="ct-product-description" data-bind="text: descript"></div>
                <button class="btn ct-product-button" data-bind="text: buttonText"><i class="fa fa-book"></i></button>
                <button class="btn ct-product-wishlist"><i class="fa fa-heart-o"></i></button>
            </div>
        </div>
    </div>
</script>

<!-- ko text: shoppingCart() -->
<!-- /ko -->

  <!-- <div class="col-sm-6">
    <div class="ct-product fresh">
      <div class="inner"><img src="assets/images/galleryitem2.png" class="ct-product-image">
        <div class="ct-product-price">£19.99</div>
        <div class="ct-product-title">FRESHLY HARVESTED MUSHROOMS</div>
        <button class="btn ct-product-button"><i class="fa fa-book"></i>Buy Now</button>
        <button class="btn ct-product-wishlist"><i class="fa fa-heart-o"></i></button>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="ct-product fresh">
      <div class="inner"><img src="assets/images/galleryitem3.png" class="ct-product-image">
        <div class="ct-product-price">£15.99</div>
        <div class="ct-product-title">FRESHLY HARVESTED GREEN PEPPERS</div>
        <button class="btn ct-product-button"><i class="fa fa-book"></i>Buy Now</button>
        <button class="btn ct-product-wishlist"><i class="fa fa-heart-o"></i></button>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="ct-product fresh">
      <div class="inner"><img src="assets/images/galleryitem4.png" class="ct-product-image">
        <div class="ct-product-price">£13.99</div>
        <div class="ct-product-title">SMALL FORM OF BROCCOLI CALLED BIMI</div>
        <button class="btn ct-product-button"><i class="fa fa-book"></i>Buy Now</button>
        <button class="btn ct-product-wishlist"><i class="fa fa-heart-o"></i></button>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="ct-product fresh">
      <div class="inner"><img src="assets/images/galleryitem5.png" class="ct-product-image">
        <div class="ct-product-price">£9.99</div>
        <div class="ct-product-title">BEAUTIFUL PINEAPPLES IN BIG CRATES</div>
        <button class="btn ct-product-button"><i class="fa fa-book"></i>Buy Now</button>
        <button class="btn ct-product-wishlist"><i class="fa fa-heart-o"></i></button>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="ct-product fresh">
      <div class="inner"><img src="assets/images/galleryitem6.png" class="ct-product-image">
        <div class="ct-product-price">£39.99</div>
        <div class="ct-product-title">MIXED FRESHLY HARVESTED SALAD</div>
        <button class="btn ct-product-button"><i class="fa fa-book"></i>Buy Now</button>
        <button class="btn ct-product-wishlist"><i class="fa fa-heart-o"></i></button>
      </div>
    </div>
  </div>
   -->