<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 center-title text-center">
            <h3 data-bind="text: header"></h3>
            <span class="center-line"></span>
            <p data-bind="text: subHeading"></p>
        </div>
    </div><!--section title-->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="flexslider testi-slider wow animated fadeInUp" data-wow-delay="" data-bind="attr: { 'data-wow-delay' : wowDelay }">
                <ul class="slides" data-bind="template: { name: 'testimonials_list', foreach: varList}">
                   
                </ul>
            </div>
        </div>
    </div>
    </div>

<!-- AfterRender did not work here.  So I just called the Testi flexslider function here inline  -->
<!-- ko text: slider() -->
<!-- /ko -->

<script type="text/html" id="testimonials_list">
    <li>
        <div class="testi-slider-item">
            <img src="img/testimonialGirlPic.jpg" alt="" data-bind="attr: { src: url }">
            <p data-bind="text: subHeading">
                The SkyBoxx really is family....Great environment and they always have something going on And after
                The game I can let me hair down.  THanks Guys!!!
            </p>

            <h6 data-bind="text: customer">Ashley Turner - <span class="colored-text">SkyBoxx Inc.</span></h6>
        </div>
    </li><!--Single slide li-->
</script>