<div class="col-md-6">

    <div class="portlet">

        <div class="portlet-header">

            <h3>
                <i class="fa fa-money" data-bind="text: header"></i>
                Recent Orders
            </h3>

            <ul class="portlet-tools pull-right">
                <li>
                    <button class="btn btn-sm btn-default" data-bind="click: someFunction">
                        Add Order
                    </button>
                </li>
            </ul>

        </div> <!-- /.portlet-header -->

        <div class="portlet-content">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr data-bind="template: { name: 'tableHeaders', foreach: tableHeaders }">           
                    </tr>
                </thead>
                <tbody data-bind="template: { name: 'tableRow', foreach: tableData }">
                </tbody>
            </table>
        </div> <!-- /.table-responsive -->

            <hr />

            <a href="" class="btn btn-sm btn-secondary">View All Orders</a>
            

        </div> <!-- /.portlet-content -->

    </div> <!-- /.portlet -->


</div> <!-- /.col-md-4 -->

<script type="text/html" id="tableRow">
    <tr>
        <td data-bind="text: varDate"></td>
        <td data-bind="text: numOfItems"></td>
        <td data-bind="text: price"></td>
        <td><a href="#" class="btn btn-xs btn-tertiary" data-bind="attr: { href: url }">
                <span data-bind="text: rowButton"></span> -
                <i class="" data-bind="attr: { class: icon }"></i>
            </a>
        </td>
    </tr>
</script>

<script type="text/html" id="tableHeaders">
    <th data-bind="text: headerNames"></th>
</script>