<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 center-title text-center">
            <h3 data-bind="text: header"></h3>
            <span class="center-line"></span>
            <p data-bind="text: subHeading"></p>
        </div>
    </div><!--section title-->
        <div class="row" data-bind="template: { name: 'about-list', foreach: list }"></div>     
</div>

<script type="text/html" id="about-list">
    <div class="col-md-3 col-sm-6 text-center">
        <div class="img-service-box">
            <img src="#" width="200" height="200" class="img-circle " alt="" data-bind="attr: { src: url}">
            <span class="center-line"></span>
            <h3 data-bind="text: header"></h3>
            <p data-bind="text: subHeading"></p>
        </div>
    </div><!--img-service box-->
</script>

