<div class="portlet">

        <div class="portlet-header">

            <h3 data-bind="text: header">
                <i class="fa fa-calendar"></i>
                Full Calendar
            </h3>

        </div> <!-- /.portlet-header -->

        <div class="portlet-content">

                <div id="full-calendar"></div>
                <!-- ko text: callCalendar() -->
                <!-- /ko -->

        </div> <!-- /.portlet-content -->

    </div> <!-- /.portlet -->