<div id="search">
        <form>
            <input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

            <button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
        </form>		
    </div> <!-- #search -->

    <nav id="sidebar">		
        
        <ul id="main-nav" class="open-active" data-bind="template: { name: 'menu_section', foreach: menu }">			

        </ul>
                
    </nav> <!-- #sidebar -->


    <script type="text/html" id="menu_section">
        <!-- ko if: isDropDown -->
            <li class="dropdown" data-bind="attr: { class: type }">
                <a href="#" data-bind="attr: { href: url }, template: { name: 'menu_details'}">
                    
                </a>
                <ul class="sub-nav" data-bind="template: { name: 'sub_nav', foreach: items }">
                </ul>
            </li>
        <!-- /ko -->
        <!-- ko if: isMenuItem -->
            <li>
                <a href="" data-bind="text: displaytext, attr: { href: url}">
                    <i class="" data-bind="attr: { class: icon }"></i>
                </a>
            </li>
        <!-- /ko -->
    </script>

    <!-- ko text: callJqueryUI() -->
    <!-- /ko -->

    <script type="text/html" id="sub_nav">
        <li>
            <a href="" data-bind="attr: { href: url }">
                <i class="" data-bind="attr: { class: icon }"></i> 
                <span data-bind="text: displaytext"></span>
            </a>
        </li>
    </script>

    <script type="text/html" id="menu_details">
        <i class="fa fa-file-text-o" data-bind="attr: { class: icon}"></i>
        <span data-bind="text: displaytext"></span>
        <span class="caret"></span>
    </script>