<div class="row" data-bind="foreach: list">
    <div class="col-md-3 col-sm-6" data-bind="component: { name: 'block', params: {blocktype: blocktype,
                                                                                    header: header,
                                                                                    value: value,
                                                                                    callback: callback,
                                                                                    icon: icon,
                                                                                    icon2: icon2
                                                                                }}">

    </div>
</div>

<!-- this component isn't working correctly.  There are some css issues that I don't want to track down right now
Leaving this note so I can clean this up later.   -->