<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 center-title text-center">
            <h3 data-bind="text: header"></h3>
            <span class="center-line"></span>
            <p data-bind="text: subheading"></p>
        </div>
    </div><!--section title-->
    <div class="row" data-bind="template: { name: 'chefspage', foreach: chefs }">
    
    </div>
</div>


<script type="text/html" id="chefspage">
    <div class="col-sm-4 margin-b-30">
        <div class="chef-box">
            <div class="chef-thumb">
                <img src="#" class="img-responsive" alt="" data-bind="attr: {src: url}">
                <div class="chef-overlay">
                    <div class="chef-social">
                        <a href="#" data-bind="attr: { href: facebook}"><i class="fa fa-facebook"></i></a>
                        <a href="#" data-bind="attr: { href: twitter}"><i class="fa fa-twitter"></i></a>
                        <a href="#" data-bind="attr: { href: linkedin}"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div><!--chef thumb-->
            <div class="chef-desc">
                <h4 data-bind="text: chefname"></h4>
                <em data-bind="text: jobtitle"></em>
                <p data-bind="text: quote"></p>
            </div>
        </div><!--chef desc-->
    </div><!--chef column-->
</script>