<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 center-title text-center">
            <h3 data-bind="text: header"></h3>
            <span class="center-line"></span>
            <p data-bind="text: subHeading">
                
            </p>
        </div>
    </div><!--section title-->
    <div class="row">
        <div id="gallery-slider" class="clearfix" data-bind="template: { name: 'gallerylist', foreach: gallerylist}"></div>
    </div>
</div>


<script type="text/html" id="gallerylist">
    <div class="grid-item col-sm-3">
        <img src="img/specialK.jpg" alt="" class="img-responsive" data-bind="attr: { src: url }">
        <div class="gallery-overlay">
            <p>
                <a href="img/specialK.jpg" data-lightbox="roadtrip" data-bind="attr: { href: urlsource }"><i class="" data-bind="css: classes"></i></a>
            </p>
        </div>
    </div> 
</script>


    