<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 data-bind="text: header"></h2>
            <a href="#" class="btn btn-lg btn-yellow" data-toggle="modal" data-target="#subscribe" data-bind="text: subscribeMessage"></a>
        </div>
    </div>
</div>

<!-- ko text: emailSubscriber()  -->
<!-- /ko -->

<div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="subscribeLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="text-center">Get in touch!</h3>
                            <form name="sentMessage" id="contactForm" >
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 controls">
                                            
                                                <input type="text" class="form-control" placeholder="Name" id="customer_name" name="customer_name" required data-validation-required-message="Please enter your name." aria-invalid="false">
                                                <p class="help-block"></p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 controls">
                                            
                                                <input type="email" class="form-control" placeholder="Email Address" id="inlineFormInputGroup" name="email_address" required data-validation-required-message="Please enter your email address.">
                                                <p class="help-block"></p>
                                            </div>
                                        </div> 
                                    </div>                              
                                    <div class="col-md-6">
                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 controls">
                                                <button type="submit" class="btn btn-yellow btn-lg" id="emailSubmit">Subscribe to our Email list</button>
                                                <p class="help-block"></p>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </form>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

