body {
  color: #444;
  font: 13px/1.7em "Open Sans", "trebuchet ms", arial, sans-serif;
  background: #666666 url(../img/layout/sidebar-bg.png) repeat-y 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  font-family: 'Open Sans', 'trebuchet ms', arial, sans-serif;
}
ul.icons-list {
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}
ul.icons-list > li {
  position: relative;
  padding-left: 2.2em;
  margin-bottom: 1em;
  line-height: 1.65em;
}
ul.icons-list > li > .icon-li {
  position: absolute;
  top: .15em;
  left: 0;
  width: 1em;
  font-size: 1.25em;
  text-align: center;
}
ul.icons-list.text-sm {
  font-size: 11px;
}
ul.icons-list.text-md {
  font-size: 13px;
}
ul.icons-list.text-lg {
  font-size: 18px;
}
ul.icons-list.text-xl {
  font-size: 24px;
}
.list-group .list-group-item i {
  color: #e5412d;
}
.list-group .list-group-item.active {
  background-color: #e5412d;
  border-color: #e5412d;
}
.list-group .list-group-item.active i {
  color: #fff;
}
.list-group .list-group-item .list-group-chevron {
  float: right;
  margin-top: 5px;
  color: #bbb;
}
.list-group .list-group-item .badge {
  margin-top: 2px;
}
.list-group .list-group-item .list-group-chevron + .badge {
  margin-right: 10px;
}
.badge {
  font-size: 11px;
  font-weight: 600;
}
.badge.badge-primary {
  background-color: #e5412d;
}
.badge.badge-secondary {
  background-color: #f0ad4e;
}
.badge.badge-tertiary {
  background-color: #888888;
}
.btn-primary {
  color: #ffffff;
  background-color: #e5412d;
  border-color: #dd301b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #d02d1a;
  border-color: #a72515;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #e5412d;
  border-color: #dd301b;
}
.btn-secondary {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #ed9c28;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #c77c11;
}
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  background-color: #f0ad4e;
  border-color: #ed9c28;
}
.btn-info {
  color: #ffffff;
  background-color: #3498db;
  border-color: #258cd1;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #2383c4;
  border-color: #1c699d;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #3498db;
  border-color: #258cd1;
}
.btn-warning {
  color: #ffffff;
  background-color: #ff751a;
  border-color: #ff6600;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #f06000;
  border-color: #c24e00;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ff751a;
  border-color: #ff6600;
}
.btn-tertiary {
  color: #ffffff;
  background-color: #666666;
  border-color: #747474;
}
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  color: #ffffff;
  background-color: #747474;
  border-color: #555555;
}
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  background-image: none;
}
.btn-tertiary.disabled,
.btn-tertiary[disabled],
fieldset[disabled] .btn-tertiary,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled:focus,
.btn-tertiary[disabled]:focus,
fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled:active,
.btn-tertiary[disabled]:active,
fieldset[disabled] .btn-tertiary:active,
.btn-tertiary.disabled.active,
.btn-tertiary[disabled].active,
fieldset[disabled] .btn-tertiary.active {
  background-color: #888888;
  border-color: #747474;
}
.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  border-color: #344e86;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #30487b;
  border-color: #23345a;
}
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #344e86;
}
.btn-twitter {
  color: #ffffff;
  background-color: #00acee;
  border-color: #00a1df;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #008fc5;
  border-color: #0075a2;
}
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #00acee;
  border-color: #00a1df;
}
.btn-jumbo {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
}
.btn-secondary .caret,
.btn-tertiary .caret {
  border-top-color: #fff;
}
.dropup .btn-secondary .caret,
.dropup .btn-tertiary .caret {
  border-bottom-color: #fff;
}
.accordion .panel-heading {
  padding: 0;
}
.accordion .accordion-toggle {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}
.accordion .accordion-toggle:hover,
.accordion .accordion-toggle:active,
.accordion .accordion-toggle:focus {
  text-decoration: none;
  outline: none !important;
}
.accordion .panel.open .accordion-toggle {
  color: #fff;
  background-color: #e5412d;
}
.progress-bar-info {
  background-color: #3498db;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #ff751a;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-primary {
  background-color: #e5412d;
}
.progress-striped .progress-bar-primary {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-secondary {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-secondary {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-tertiary {
  background-color: #888888;
}
.progress-striped .progress-bar-tertiary {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.label-primary {
  background-color: #e5412d;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #c62b19;
}
.label-secondary {
  background-color: #f0ad4e;
}
.label-secondary[href]:hover,
.label-secondary[href]:focus {
  background-color: #ec971f;
}
.label-tertiary {
  background-color: #888888;
}
.label-tertiary[href]:hover,
.label-tertiary[href]:focus {
  background-color: #6f6f6f;
}
.label-info {
  background-color: #3498db;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #217dbb;
}
.label-warning {
  background-color: #ff751a;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #e65c00;
}
.pagination > li > a,
.pagination > li > span {
  color: #222;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #e5412d;
  border-color: #e5412d;
  cursor: default;
}
.pager > li > a {
  color: #222;
}
.modal-backdrop {
  background-color: #000000;
}
.modal-backdrop.in {
  filter: alpha(opacity=60);
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.modal-styled .modal-content {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) !important;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.modal-styled .modal-header {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #333;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.modal-styled .modal-header .close {
  color: #fff;
  opacity: 1;
  text-shadow: none;
}
.modal-styled .modal-header .close:hover {
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.modal-styled .modal-footer {
  padding: 14px 20px 15px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.tab-content.stacked-content > .tab-pane {
  padding-top: 0;
}
.nav-tabs,
.nav-pills {
  margin-bottom: 1.5em;
}
.nav-tabs .caret,
.nav-pills .caret,
.nav-tabs a:hover .caret,
.nav-pills a:hover .caret {
  border-top-color: #444;
  border-bottom-color: #444;
}
.nav-pills.nav-stacked > li {
  margin-right: 0;
  margin-bottom: .5em;
}
.nav-pills.nav-stacked > li > a {
  padding: 10px 15px;
}
.nav-pills > li {
  margin-right: 6px;
}
.nav-pills > li > a {
  padding: 5px 12px;
  color: #444;
  background-color: #eee;
}
.nav-pills > li > a:hover {
  background-color: #e4e4e4;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #e5412d;
}
.nav-pills > li.active .caret,
.nav-pills > li.active a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #e5412d;
  font-weight: 600;
}
.nav-tabs > li > a {
  color: #444;
}
.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
  background-color: #eeeeee;
  border-color: #e5412d;
}
.nav-tabs .dropdown-menu > .active > a,
.nav-tabs .dropdown-menu > .active > a:hover,
.nav-tabs .dropdown-menu > .active > a:focus {
  color: #fff;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #e5412d;
}
.text-warning {
  color: #c09853;
}
.text-info {
  color: #3a87ad;
}
.form-group {
  margin-bottom: 20px;
}
.label {
  font-weight: 600;
}
.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  font-weight: 600;
}
.fileupload-preview {
  line-height: 0 !important;
}
label {
  font-weight: 600;
}
.dropdown-menu > li {
  margin-right: .5em;
  margin-left: .5em;
}
.dropdown-menu > li > a {
  padding: 6px 12px;
  font-size: 13px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #e5412d;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #a7a7a7;
}
/*------------------------------------------------------------------
[ portlet / .portlet ]
*/
.portlet {
  position: relative;
  clear: both;
  width: auto;
  /* Clearfix Hack */

  /* portlet Plain */

}
.portlet .portlet-header {
  position: relative;
  padding: 1px 15px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fafafa), to(#ebebeb));
  background-image: -webkit-linear-gradient(top, #fafafa, 0%, #ebebeb, 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #ebebeb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffebebeb', GradientType=0);
  border: 1px solid #D5D5D5;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
}
.portlet .portlet-header:before,
.portlet .portlet-header:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.portlet .portlet-header:after {
  clear: both;
}
.portlet .portlet-header h1,
.portlet .portlet-header h2,
.portlet .portlet-header h3,
.portlet .portlet-header h4,
.portlet .portlet-header h5,
.portlet .portlet-header h6 {
  float: left;
  padding: 10px 0;
  margin: 0 1em 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 600;
  color: #555;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.portlet .portlet-header h1 i,
.portlet .portlet-header h2 i,
.portlet .portlet-header h3 i,
.portlet .portlet-header h4 i,
.portlet .portlet-header h5 i,
.portlet .portlet-header h6 i {
  display: inline-block;
  margin-top: -3px;
  margin-right: 10px;
  font-size: 16px;
  color: #777;
  vertical-align: middle;
}
.portlet .portlet-tools {
  float: left;
  display: inline-block;
  padding: 0;
  margin: 5px 0 0 0;
}
.portlet .portlet-tools > li {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
}
.portlet .portlet-tools .btn-icon {
  margin-top: -2px;
  color: #555;
  font-size: 16px;
}
.portlet .portlet-tools .btn-icon:hover {
  text-decoration: none;
  background-color: #fff;
}
.portlet .portlet-tools .btn-icon .caret {
  margin-top: -3px;
}
.portlet .portlet-tools .dropdown-menu {
  left: auto;
  right: 0;
}
.portlet .portlet-tools .btn.btn-sm {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0;
}
.portlet .portlet-tools .form-control.input-sm {
  display: inline-block;
  width: 125px;
  height: 26px;
}
.portlet .portlet-tools .progress {
  margin-top: 0;
  margin-bottom: 0;
  width: 125px;
}
.portlet .portlet-tools .nav-tabs,
.portlet .portlet-tools .nav-pills {
  margin-bottom: 0;
}
.portlet .portlet-tools .nav-pills > li > a {
  padding: 2px 9px;
  font-size: 12px;
  font-weight: 600;
}
.portlet .portlet-tools .nav-pills > li.active > a,
.portlet .portlet-tools .nav-pills > li.active > a:hover,
.portlet .portlet-tools .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #555;
}
.portlet .portlet-content {
  padding: 22px 15px 15px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.portlet .portlet-toolbar {
  padding: 10px 15px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fafafa), to(#ebebeb));
  background-image: -webkit-linear-gradient(top, #fafafa, 0%, #ebebeb, 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #ebebeb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffebebeb', GradientType=0);
  border: 1px solid #d5d5d5;
}
.portlet .portlet-toolbar:before,
.portlet .portlet-toolbar:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.portlet .portlet-toolbar:after {
  clear: both;
}
.portlet .portlet-header + .portlet-content,
.portlet .portlet-toolbar + .portlet-content {
  margin-top: 1px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.portlet .portlet-header + .portlet-toolbar {
  margin-top: 1px;
}
.portlet .portlet-content + .portlet-toolbar {
  margin-top: 1px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.portlet .toolbar-bottom .portlet-content {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.portlet.portlet-nopad .portlet-content {
  padding: 0;
}
.portlet .portlet-content:before,
.portlet .portlet-content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.portlet .portlet-content:after {
  clear: both;
}
.portlet.portlet-plain {
  background: transparent;
  border: none;
}
.portlet.portlet-plain .portlet-header {
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 8px;
  padding-left: 0;
  background: #fff;
  filter: none;
  border: none;
  border-bottom: 1px dotted #ccc;
}
.portlet.portlet-plain .portlet-header h3 {
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #555;
  line-height: 22px;
}
.portlet.portlet-plain .portlet-header i {
  font-size: 20px;
}
.portlet.portlet-plain .portlet-content {
  padding-right: 0;
  padding-left: 0;
  background: transparent;
  border: none;
}
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 12px;
  height: 31px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 29px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../js/plugins/chosen/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../js/plugins/chosen/chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: #ffffff url('chosen-sprite.png') no-repeat 100% -20px;
  background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 15px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../js/plugins/chosen/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}
/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: #ffffff url('../js/plugins/chosen/chosen-sprite.png') no-repeat -30px -20px;
  background: url('../js/plugins/chosen/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('../js/plugins/chosen/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../js/plugins/chosen/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../js/plugins/chosen/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../js/plugins/chosen/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */.spark-stat {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.spark-stat .value {
  display: block;
  margin-top: .75em;
  margin-bottom: .3em;
  font-size: 16px;
  font-weight: 600;
}
.spark-stat h5 {
  margin-top: 0;
  font-size: 13px;
}
.progress-stat {
  margin-top: 2.25em;
}
.progress-stat:first-child {
  margin-top: 0;
}
.progress-stat .stat-header {
  display: table;
  width: 100%;
  margin-bottom: .5em;
}
.stat-value {
  display: table-cell;
  width: 50%;
  margin-top: -1.15em;
  color: #666;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
}
.stat-label {
  display: table-cell;
  width: 50%;
  color: #999;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.progress-stat .progress {
  margin-bottom: 0;
}
.progress-stat .stat-note {
  margin-top: .65em;
  color: #888;
  font-style: italic;
}
.dashboard-stat {
  position: relative;
  display: block;
  padding: 30px 20px;
  background-color: #ccc;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.dashboard-stat,
.dashboard-stat:hover,
.dashboard-stat:active,
.dashboard-stat:focus {
  color: #666;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  outline: none;
}
.dashboard-stat i,
.dashboard-stat:hover i,
.dashboard-stat:active i,
.dashboard-stat:focus i {
  color: #e4e4e4;
}
.dashboard-stat:hover {
  background-color: #e6e6e6;
}
.dashboard-stat:hover i {
  color: #dcdcdc;
}
.dashboard-stat:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.dashboard-stat.primary,
.dashboard-stat.primary:hover,
.dashboard-stat.primary:active {
  color: #FFF;
  background-color: #e5412d;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.dashboard-stat.primary i,
.dashboard-stat.primary:hover i,
.dashboard-stat.primary:active i {
  color: #dd301b;
}
.dashboard-stat.primary:hover {
  background-color: #e3351f;
}
.dashboard-stat.primary:hover i {
  color: #d42e1a;
}
.dashboard-stat.secondary,
.dashboard-stat.secondary:hover,
.dashboard-stat.secondary:active {
  color: #FFF;
  background-color: #f0ad4e;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.dashboard-stat.secondary i,
.dashboard-stat.secondary:hover i,
.dashboard-stat.secondary:active i {
  color: #eea236;
}
.dashboard-stat.secondary:hover {
  background-color: #eea236;
}
.dashboard-stat.secondary:hover i {
  color: #ec9924;
}
.dashboard-stat.tertiary,
.dashboard-stat.tertiary:hover,
.dashboard-stat.tertiary:active {
  color: #FFF;
  background-color: #888888;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.dashboard-stat.tertiary i,
.dashboard-stat.tertiary:hover i,
.dashboard-stat.tertiary:active i {
  color: #7b7b7b;
}
.dashboard-stat.tertiary:hover {
  background-color: #7b7b7b;
}
.dashboard-stat.tertiary:hover i {
  color: #717171;
}
.dashboard-stat .visual {
  z-index: 10;
  float: right;
  width: 54px;
  height: 100%;
}
.dashboard-stat .details {
  position: relative;
  z-index: 11;
  float: left;
  margin-top: -10px;
  text-align: left;
}
.dashboard-stat .value {
  display: block;
  font-size: 32px;
  font-weight: 600;
}
.dashboard-stat .content {
  display: block;
  margin-bottom: 1em;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.dashboard-stat .visual i {
  position: absolute;
  left: 0;
  left: auto;
  right: 0;
  bottom: 0;
  display: block;
  height: 72px;
  font-size: 72px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  text-shadow: none;
}
.dashboard-stat .more {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25) !important;
  text-shadow: none;
}
/*------------------------------------------------------------------
[ Back to Top / #back-to-top ]
*/
#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1001;
  width: 45px;
  height: 45px;
  display: block;
  background: #222;
  background: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  text-align: center;
  line-height: 45px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  transition: background 0.25s linear;
}
#back-to-top:hover {
  text-decoration: none;
  background-color: #F90;
  background: rgba(229, 65, 45, 0.85);
}
#back-to-top i {
  color: #fff;
}
.table-bordered thead tr,
.table-bordered tfoot tr {
  background-color: #eee;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f9f9f9), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f9f9f9, 0%, #eeeeee, 100%);
  background-image: -moz-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffeeeeee', GradientType=0);
}
.table-bordered thead tr th,
.table-bordered tfoot tr th {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  border-bottom-width: 1px;
  vertical-align: middle;
}
.table-bordered.table-highlight {
  border-top-color: #111;
}
.table-bordered.table-highlight thead tr:first-child {
  background-color: #444;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#555555), to(#444444));
  background-image: -webkit-linear-gradient(top, #555555, 0%, #444444, 100%);
  background-image: -moz-linear-gradient(top, #555555 0%, #444444 100%);
  background-image: linear-gradient(to bottom, #555555 0%, #444444 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff444444', GradientType=0);
}
.table-bordered.table-highlight thead tr:first-child th {
  color: #fff;
  font-weight: 600;
  border: 1px solid #3a3a3a;
}
.feed-item {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 35px;
  padding-left: 40px;
  margin-left: 20px;
  border-left: 2px solid #DDD;
}
.feed-item:last-child {
  padding-bottom: 15px;
}
.feed-item .feed-subject {
  margin-bottom: 1.5em;
}
.feed-item .feed-subject a {
  font-weight: 600;
}
.feed-item .feed-content {
  padding-left: 25px;
}
.feed-item .feed-actions {
  padding: 10px 10px;
  margin-top: 2em;
  border-top: 1px dotted #ccc;
}
.feed-item .feed-actions:before,
.feed-item .feed-actions:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.feed-item .feed-actions:after {
  clear: both;
}
.feed-item .feed-actions a {
  color: #999;
  font-size: 13px;
}
.feed-item .feed-actions a:hover {
  text-decoration: none;
  color: #e5412d;
}
.feed-item .feed-actions .pull-left {
  margin: 0 15px 0 0;
}
.feed-item .feed-actions .pull-right {
  margin: 0 0 0 15px;
}
.feed-item .feed-icon {
  position: absolute;
  top: 15px;
  left: -23px;
  width: 40px;
  height: 40px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  background-color: #f0ad4e;
  border: 3px solid #FFF;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}
.feed-item-idea .feed-icon {
  background-color: #f0ad4e;
}
.feed-item-image .feed-icon {
  background-color: #888888;
}
.feed-item-file .feed-icon {
  background-color: #e5412d;
}
.feed-item-bookmark .feed-icon {
  background-color: #555;
}
.feed-item-question .feed-icon {
  background-color: #428bca;
}
.ui-lightbox,
.ui-lightbox-gallery a {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
/*------------------------------------------------------------------
[ Pricing Plans / .pricing-plans ]
*/
.pricing-plan {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 25px 15px 25px;
  margin: 0;
  text-align: center;
  background: #FFF;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.pricing-plan.promoted {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#ededed));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #ededed, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffededed', GradientType=0);
}
.pricing-plan .pricing-help {
  border-bottom: 1px dotted #000;
}
.pricing-plan .pricing-best-value {
  position: absolute;
  top: 0;
  left: 0;
}
.pricing-plan strong.ui-popover {
  border-bottom: 1px dotted #000;
}
.pricing-plan .pricing-title {
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}
.pricing-plan .pricing-price {
  display: block;
}
.pricing-plan .pricing-price .pricing-amount {
  color: #46a546;
  font-size: 32px;
  font-weight: 400;
}
.pricing-plan ul.pricing-details {
  padding: 0;
  margin: 0 0 2em;
}
.pricing-plan ul.pricing-details li {
  list-style: none;
  margin: 0 0 1.65em;
}
.thumbnail-view {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.thumbnail-view img {
  max-width: 100%;
}
.thumbnail-view .thumbnail-view-hover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  background: #111111 url(../img/gallery/zoom.png) no-repeat 50%;
  z-index: 10;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.thumbnail-view:hover .thumbnail-view-hover {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  opacity: .5;
  filter: alpha(opacity=50);
}
.thumbnail-footer {
  padding: 7px 10px;
  border-top: 1px dotted #ccc;
}
.thumbnail-footer:before,
.thumbnail-footer:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.thumbnail-footer:after {
  clear: both;
}
.thumbnail-footer a {
  color: #999;
  font-size: 12px;
}
.thumbnail-footer a:hover {
  text-decoration: none;
  color: #e5412d;
}
.thumbnail-footer .pull-left a {
  padding: 0 12px 0 0;
}
.thumbnail-footer .pull-right a {
  padding: 0 0 0 12px;
}
/*------------------------------------------------------------------
[ Slider / .ui-slider ]
*/
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 16px;
  background: url(../img/jquery/handle.png) no-repeat;
  border: none;
  cursor: pointer;
}
.ui-slider .ui-slider-handle:hover {
  background-position: 0 -16px;
}
.ui-slider .ui-slider-handle:active {
  background-position: 0 -16px;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 6px;
  font-size: .7em;
  display: block;
  border: 1px solid #FFF;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background: #ccc;
  border-color: #b3b3b3;
}
.ui-slider.slider-primary .ui-slider-range {
  background: #e5412d;
  border-color: #c62b19;
}
.ui-slider.slider-secondary .ui-slider-range {
  background: #f0ad4e;
  border-color: #ec971f;
}
.ui-slider.slider-tertiary .ui-slider-range {
  background: #888888;
  border-color: #6f6f6f;
}
.ui-slider.slider-success .ui-slider-range {
  background: #5cb85c;
  border-color: #449d44;
}
.ui-slider.slider-warning .ui-slider-range {
  background: #ff751a;
  border-color: #e65c00;
}
.ui-slider.slider-danger .ui-slider-range {
  background: #d9534f;
  border-color: #c9302c;
}
.ui-slider.slider-info .ui-slider-range {
  background: #3498db;
  border-color: #217dbb;
}
.ui-slider-horizontal {
  height: 12px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -4px;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: -1px;
  height: 110%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: 11px;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -3px;
  margin-left: 0;
  margin-bottom: -0.6em;
  width: 15px;
  height: 24px;
  background: url(../img/jquery/handle-vertical.png) no-repeat;
}
.ui-slider-vertical .ui-slider-handle:hover {
  background-position: 0 -24px;
}
.ui-slider-vertical .ui-slider-handle:active {
  background-position: 0 -24px;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 9px;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.form .row,
.form-horizontal .row {
  margin-bottom: 0 !important;
}
.help-block {
  margin-bottom: 0;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
}
/*------------------------------------------------------------------
[ Validation / .form-group ]
*/
.form-group {
  position: relative;
}
.form-group .parsley-success .parsley-error-list {
  display: none !important;
}
.form-group .parsley-error-list {
  position: relative;
  display: inline-block !important;
  padding: 2px 10px;
  margin: 0;
  list-style: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background: #b94a48;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.form-group .parsley-error-list::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #B94A48;
  position: absolute;
  top: -6px;
  left: 3px;
}
.form-horizontal .form-group span.error {
  margin-left: 1.5em;
  margin-left: 15px;
}
.howl {
  padding: 0;
  list-style: none;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5c5b5b), to(#353535));
  background-image: -webkit-linear-gradient(top, #5c5b5b, 0%, #353535, 100%);
  background-image: -moz-linear-gradient(top, #5c5b5b 0%, #353535 100%);
  background-image: linear-gradient(to bottom, #5c5b5b 0%, #353535 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c5b5b', endColorstr='#ff353535', GradientType=0);
  border: 1px solid #111;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.howl:empty {
  display: none;
}
.howl-slot {
  position: relative;
}
.howl-close {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 10px;
  color: #000;
  outline: none !important;
  filter: alpha(opacity=25);
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  text-shadow: none;
}
.howl-message {
  position: relative;
  padding: 10px 30px 13px 65px;
  color: #f0f0f0;
  font-size: 13px;
  font-weight: 500;
  background: transparent;
  text-shadow: 0px 1px #111111;
  -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 0px -1px rgba(0, 0, 0, 0.23), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
  -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 0px -1px rgba(0, 0, 0, 0.23), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
  box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 0px -1px rgba(0, 0, 0, 0.23), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.howl-message:hover .howl-close {
  color: #fff;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.howl-message a {
  color: #f0ad4e;
  text-decoration: none;
}
.howl-message a:hover {
  text-decoration: underline;
}
.howl-title {
  margin-bottom: 4px;
  font-weight: 600;
}
.howl-title:empty {
  display: none;
}
.howl-message-inner:before {
  position: absolute;
  top: 15px;
  left: 18px;
  z-index: 20;
  display: block;
  content: " ";
  height: 13px;
  width: 13px;
  background-color: #999;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
.howl-message.howl-danger .howl-message-inner:before {
  background-color: #d9534f;
}
.howl-message.howl-info .howl-message-inner:before {
  background-color: #3498db;
}
.howl-message.howl-success .howl-message-inner:before {
  background-color: #5cb85c;
}
.howl-message.howl-warning .howl-message-inner:before {
  background-color: #ff751a;
}
.howl-icon {
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 1000;
  width: 1em;
  font-size: 20px;
  text-align: center;
}
.howl-has-icon .howl-message-inner:before {
  display: none !important;
}
.howl-has-icon .howl-icon {
  color: #bbb;
}
.howl-has-icon .howl-success .howl-icon {
  color: #5cb85c;
}
.howl-has-icon .howl-warning .howl-icon {
  color: #ff751a;
}
.howl-has-icon .howl-danger .howl-icon {
  color: #d9534f;
}
.howl-has-icon .howl-info .howl-icon {
  color: #3498db;
}
.howl {
  position: fixed;
  top: auto;
  bottom: 10px;
  right: auto;
  left: 50%;
  z-index: 1001;
  width: 300px;
  padding: 0;
  margin: 0;
  margin-left: -150px;
}
@media (min-width: 768px) {
  .howl {
    left: auto;
    right: 30px;
    width: 350px;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
  .howl {
    width: 375px;
  }
}
/*!
 * FullCalendar v1.6.2 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */
.fc {
  direction: ltr;
  text-align: left;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
}
html .fc,
.fc table {
  font-size: 1em;
}
.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
}
/* Header
------------------------------------------------------------------------*/
.fc-header td {
  white-space: nowrap;
}
.fc-header-left {
  width: 25%;
  text-align: left;
}
.fc-header-center {
  text-align: center;
}
.fc-header-right {
  width: 25%;
  text-align: right;
}
.fc-header-title {
  display: inline-block;
  vertical-align: top;
}
.fc-header-title h2 {
  margin-top: 0;
  margin-bottom: 1em;
  white-space: nowrap;
  font-size: 18px;
}
.fc .fc-header-space {
  padding-left: 10px;
}
.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
  font-weight: 400;
}
/* Buttons
------------------------------------------------------------------------*/
.fc-button {
  position: relative;
  display: inline-block;
  padding: 0 .6em;
  overflow: hidden;
  height: 1.9em;
  line-height: 1.7em;
  white-space: nowrap;
  cursor: pointer;
}
.fc-state-default {
  /* non-theme */

}
.fc-state-default.fc-corner-left {
  /* non-theme */

  border-radius: 4px 0 0 4px;
}
.fc-state-default.fc-corner-right {
  /* non-theme */

  border-radius: 0 4px 4px 0;
}
.fc-state-default.fc-button-today {
  border-radius: 4px;
}
/*
  Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
  and we'll try to make them look good cross-browser.
*/
.fc-text-arrow {
  margin: 0;
  font-size: 1.5em;
  font-family: Courier, monospace;
  vertical-align: baseline;
  /* for IE7 */

}
.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow {
  /* for &lsaquo; &rsaquo; */

  font-weight: 200;
}
/* icon (for jquery ui) */
.fc-button .fc-icon-wrap {
  position: relative;
  float: left;
  top: 50%;
}
.fc-button .ui-icon {
  position: relative;
  float: left;
  margin-top: -50%;
  *margin-top: 0;
  *top: -50%;
}
.fc-state-default {
  color: #888;
  background: #fff;
  border: 1px solid #BBB;
  font-weight: 200;
  transition: background 0.1s linear;
  text-shadow: none;
}
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #666;
  background-color: #e5412d;
  border-color: #ccc;
  font-weight: 200;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fc-state-hover {
  background-color: #ddd;
  background-image: none;
  outline: 0;
  color: #444;
}
.fc-state-down,
.fc-state-active {
  background-color: #e5412d;
  background-image: none;
  outline: 0;
  color: #fff;
}
.fc-state-down {
  background-color: #888;
}
.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
.fc-event {
  background-color: #e5412d;
  border-color: #e5412d;
}
.fc-event.fc-red,
.external-event.fc-red {
  background-color: #e5412d;
  border-color: #e5412d;
}
.fc-event.fc-yellow,
.external-event.fc-yellow {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.fc-event.fc-grey,
.external-event.fc-grey {
  background-color: #888888;
  border-color: #888888;
}
.fc-event.fc-charcoal,
.external-event.fc-charcoal {
  background-color: #444;
  border-color: #444;
}
.external-event {
  display: inline-block;
  margin: 5px 5px;
  padding: 7px 10px;
  background: #e5412d;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
}
.table-checkable .checkbox-column {
  width: 40px;
  text-align: center;
  vertical-align: middle;
}
.table-checkable .checkbox-column input[type=text] {
  display: none;
}
.table-checkable tbody > tr.checked > td {
  background-color: #fdf3e4;
}
.simplecolorpicker.inline {
  display: block;
  height: auto;
}
.simplecolorpicker.icon {
  display: block;
  width: 100px;
  height: 25px;
  text-align: center;
  border: 3px solid #222;
}
.simplecolorpicker.icon i {
  visibility: hidden;
  color: #FFF;
}
.simplecolorpicker span {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #FFF;
  text-align: center;
  border: 3px solid transparent;
}
.simplecolorpicker span i {
  display: table-cell;
  visibility: hidden;
  vertical-align: middle;
  width: 19px;
  height: 19px;
}
.simplecolorpicker span i:active,
.simplecolorpicker span i:focus {
  outline: none;
}
.simplecolorpicker span:hover {
  border-width: 3px;
  outline: none;
}
.simplecolorpicker span.selected {
  border-width: 3px;
}
.simplecolorpicker span.selected i {
  visibility: visible !important;
}
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#flotTip {
  padding: 3px 6px !important;
  color: #FFF !important;
  font-size: 11px !important;
  text-align: center !important;
  text-decoration: none !important;
  background-color: #222 !important;
  background-color: rgba(0, 0, 0, 0.75) !important;
  border: 1px solid #000 !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.chart-tooltip {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #fff;
  font-size: 11px;
  padding: 5px 9px;
  border: 1px solid #282828;
  background: #3b3b3b;
  background: -moz-linear-gradient(top, #3b3b3b 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #3b3b3b 0%, #222222 100%);
  background: -o-linear-gradient(top, #3b3b3b 0%, #222222 100%);
  background: -ms-linear-gradient(top, #3b3b3b 0%, #222222 100%);
  background: linear-gradient(top, #3b3b3b 0%, #222222 100%);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
}
.chart-tooltip:after {
  content: '';
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #222222;
  position: absolute;
  bottom: -5px;
  left: 4px;
}
.icheckbox_minimal-blue,
.iradio_minimal-blue {
  display: inline-block;
}
.form-group .icheckbox_minimal-blue,
.form-group .iradio_minimal-blue {
  display: inline-block;
  top: 4px;
  margin-right: .5em;
  margin-left: -20px;
}
.checkbox-inline,
.radio-inline {
  margin-right: 20px;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 0;
}
.datatable-columnfilter {
  width: 100% !important;
}
.datatable-hidesearch .dataTables_filter {
  display: none;
}
.dataTables_wrapper .row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.dataTables_wrapper .dt-rt > div {
  margin-bottom: 1em !important;
}
.dataTables_wrapper .dt-rt > div:empty {
  margin-bottom: 0 !important;
}
.dataTables_wrapper .dt-rb > div {
  margin-top: 1em !important;
}
.dataTables_wrapper .dt-rb > div:empty {
  margin-top: 0 !important;
}
.dataTables_wrapper .dataTable {
  margin-bottom: .5em;
}
.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
  vertical-align: middle;
  font-size: 12px;
  height: 30px;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.dataTables_wrapper .dataTables_filter input:focus,
.dataTables_wrapper .dataTables_length select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.dataTables_wrapper .dataTables_length select {
  height: auto;
}
.dataTables_info {
  padding-top: 6px;
}
div.dataTables_length label {
  float: left;
  text-align: left;
  font-weight: 600;
}
div.dataTables_length select {
  width: 70px;
  margin-right: .65em;
}
div.dataTables_filter label {
  float: right;
  font-weight: 600;
}
div.dataTables_filter label input {
  width: 215px;
  margin-left: .65em;
}
div.dataTables_paginate {
  text-align: right;
  margin: 0;
}
div.dataTables_paginate .pagination {
  margin-top: 0;
  margin-bottom: 0;
}
.dataTable input::-ms-clear {
  display: none !important;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}
table.table thead .sorting {
  background: url('../js/plugins/datatables/img/sort_both.png') no-repeat center right;
}
table.table thead .sorting_asc {
  background: url('../js/plugins/datatables/img/sort_asc.png') no-repeat center right;
}
table.table thead .sorting_desc {
  background: url('../js/plugins/datatables/img/sort_desc.png') no-repeat center right;
}
table.table thead .sorting_asc_disabled {
  background: url('../js/plugins/datatables/img/sort_asc_disabled.png') no-repeat center right;
}
table.table thead .sorting_desc_disabled {
  background: url('../js/plugins/datatables/img/sort_desc_disabled.png') no-repeat center right;
}
table.dataTable th:active {
  outline: none;
}
.originalTextareaInfo {
  width: auto !important;
}
.autosize-animate {
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #e5412d;
  background-image: none;
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #e5412d;
  background-image: none;
}
.datepicker-inline {
  border: 1px solid #c0c0c0;
  width: 215px;
}
.datepicker-dropdown:before,
.datepicker-dropdown:after {
  display: none;
}
.ui-datepicker .input-group-addon {
  cursor: pointer;
}
.bootstrap-timepicker > .fa-clock-o {
  position: absolute;
  top: 10px;
  right: 10px;
}
.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker-widget.dropdown-menu {
  max-width: 215px;
}
.bootstrap-timepicker-widget.modal {
  margin: 0;
  width: auto;
}
.bootstrap-timepicker-widget.modal .modal-dialog {
  width: 280px;
}
.bootstrap-timepicker-widget.modal .modal-body {
  padding: 0;
}
.bootstrap-timepicker-widget.modal .modal-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
}
.bootstrap-timepicker-widget .modal-content {
  padding: 0;
}
.bootstrap-timepicker .input-group-addon {
  cursor: pointer;
}
.bootstrap-timepicker-widget table td input {
  width: 42px;
}
.select2-container {
  margin-left: 0 !important;
}
.select2-container .select2-choice {
  height: 34px;
  line-height: 34px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ccc;
  background: #fff !important;
  filter: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.select2-container .select2-choice .select2-arrow {
  background: none;
  border: none;
  top: 2px;
  right: 5px;
}
.select2-container .select2-choice .select2-arrow b {
  background-position: 1px 1px;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -17px 1px;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-container .select2-choice:hover {
  border-color: #c2c2c2 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.select2-results {
  padding: 0;
  margin-right: 0;
}
.select2-search {
  padding-top: 4px;
}
.select2-drop,
.select2-drop.select2-drop-above {
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.select2-drop.select2-drop-above.select2-drop-active {
  border-color: #aaa;
  margin-top: -5px;
}
.select2-drop-multi.select2-drop-above {
  margin-top: -1px !important;
}
.select2-container .select2-choice abbr {
  top: 9px;
}
/* .select2-search-choice-close */
.select2-container-multi .select2-choices {
  min-height: 34px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.select2-container-multi .select2-choices .select2-search-field input {
  height: 28px;
  padding-bottom: 4px;
}
.select2-container-multi .select2-choices .select2-search-choice {
  background: #f8f8f8;
  height: 22px;
  line-height: 14px;
  margin: 2px 1px 1px 2px;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  padding: 3px 22px 3px 6px;
  border: 1px solid #aaa;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-container-multi .select2-search-choice-close {
  right: 3px;
  top: 4px;
  left: auto;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #e1e1e1;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background: #fff !important;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.select2-container .select2-choice > .select2-chosen i,
.select2-results .select2-result-label i,
.select2-container-multi .select2-choices .select2-search-choice i {
  margin: -1px 6px 0 0;
  height: 15px;
  vertical-align: -2px;
}
.form-control.select2-container {
  height: auto;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.morris-hover {
  position: absolute;
  z-index: 1000;
}
.morris-hover.morris-default-style {
  padding: 6px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
}
.morris-hover.morris-default-style .morris-hover-row-label {
  margin: .25em 0;
  font-weight: 600;
}
.morris-hover.morris-default-style .morris-hover-point {
  margin: 0.1em 0;
  white-space: nowrap;
}
/* ---------------------------------- */
/* @Wrapper */
#wrapper {
  width: 100%;
}
/* ---------------------------------- */
/* @Header */
#site-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 21;
}
#header {
  background: #222;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3f3f3f), to(#222222));
  background-image: -webkit-linear-gradient(top, #3f3f3f, 0%, #222222, 100%);
  background-image: -moz-linear-gradient(top, #3f3f3f 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3f3f3f', endColorstr='#ff222222', GradientType=0);
  width: 100%;
  height: 77px;
  border-bottom: 1px solid #000;
  position: relative;
  z-index: 15;
}
#header .navbar-toggle {
  float: right;
  padding: 5px 7px;
  margin-top: -8px;
  margin-bottom: 0;
  color: #666;
  font-size: 18px;
  line-height: 0;
  border-color: transparent;
  background: #e5412d;
  color: #FFF;
}
#header .navbar-toggle:hover {
  text-decoration: none;
}
#header .navbar-toggle.collapsed {
  background-color: transparent;
}
#header .navbar-toggle.collapsed:hover,
#header .navbar-toggle.collapsed:focus {
  background: #222;
}
#header #sidebar-toggle.collapsed {
  color: #e5412d;
}
#top-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 38px;
  padding-right: 25px;
  padding-left: 240px;
  color: #FFF;
}
#top-bar .nav > li {
  float: left;
  font-size: 12px;
}
#top-bar .nav > li > a {
  padding: 8px 10px;
  color: #fff;
}
#top-bar .nav > li > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
#top-bar .nav > li > a i {
  margin-right: .35em;
}
#top-bar .nav > li > a:hover {
  background-color: #444;
}
#top-bar .nav > li > a:active,
#top-bar .nav > li > a:focus,
#top-bar .nav > li.open > a {
  background-color: #222;
}
#top-bar .nav.pull-right .dropdown-menu {
  left: auto;
  right: 0;
}
#top-bar .nav.pull-right .dropdown-menu::before,
#top-bar .nav.pull-right .dropdown-menu::after {
  left: auto;
  right: 9px;
}
#top-bar .nav.pull-right .dropdown-menu::after {
  left: auto;
  right: 10px;
}
#top-bar .nav .dropdown-menu {
  top: 93%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#top-bar .nav .dropdown-menu::before,
#top-bar .nav .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
#top-bar .nav .dropdown-menu::after {
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-bottom-color: #fff;
  top: -6px;
  left: 10px;
}
/* ---------------------------------- */
/* @Search */
#search {
  background: #444;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#464646), to(#363636));
  background-image: -webkit-linear-gradient(top, #464646, 0%, #363636, 100%);
  background-image: -moz-linear-gradient(top, #464646 0%, #363636 100%);
  background-image: linear-gradient(to bottom, #464646 0%, #363636 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff464646', endColorstr='#ff363636', GradientType=0);
  width: 100%;
  height: 57px;
  text-align: center;
  border-top: 1px solid #555;
  border-bottom: 1px solid #222;
  position: relative;
  z-index: 15;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
}
#search form {
  margin: 0 15px;
  position: relative;
}
#search form #search-btn {
  color: #393939;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 168px;
  top: 9px;
  background: transparent;
  transition: color 0.25s linear;
}
#search form #search-btn:hover,
#search form #search-btn:focus {
  color: #bd2917;
  outline: none;
}
#search .form-control {
  background: #4e4e4e;
  width: 210px;
  border: 1px solid #363636;
  color: #FFF;
  position: relative;
  top: 12px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  box-sizing: border-box;
}
#search .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(229, 65, 45, 0.5);
}
/* ---------------------------------- */
/* @Sidear */
#sidebar {
  width: 240px;
  display: block;
  float: left;
  position: relative;
  position: absolute;
  z-index: 16;
}
#sidebar hr {
  margin-bottom: 2em;
  border-top: 1px solid #4A4A4A;
  border-bottom: 1px solid #858585;
}
/* ---------------------------------- */
/* @main-nav */
#main-nav {
  width: 240px;
  padding: 0;
  margin: 1.25em 0 2.5em;
  border-top: 1px solid #4A4A4A;
  border-bottom: 1px solid #858585;
  position: relative;
  top: 5px;
}
#main-nav > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  border-top: 1px solid #858585;
  border-bottom: 1px solid #4A4A4A;
}
#main-nav > li > a {
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  padding: 11px 18px 11px 18px;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
#main-nav > li > a i {
  position: relative;
  top: 1px;
  width: 16px;
  display: inline-block;
  text-align: center;
  margin-right: 1em;
  color: #444;
  font-size: 16px;
  text-shadow: none;
}
#main-nav > li > a:hover,
#main-nav > li.opened > a {
  background: #616161;
  background: rgba(0, 0, 0, 0.075);
}
#main-nav > li.active {
  border-top: none;
}
#main-nav > li.active > a {
  background: #066ECD;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #f0f0f0, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f0f0', GradientType=0);
  border-top: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #e5412d;
  text-shadow: none;
  font-weight: 600;
}
#main-nav > li.active > a i {
  color: #e5412d;
}
#main-nav > li.dropdown > a {
  padding-bottom: 12px;
}
#main-nav > li.dropdown > a .caret {
  width: 0;
  height: 0;
  display: inline-block;
  border-top-color: #383838;
  border-bottom-color: #383838;
  position: absolute;
  top: 19px;
  right: 20px;
}
#main-nav .sub-nav {
  background: #555;
  width: 100%;
  display: none;
  list-style-type: none;
  padding: 1em 0;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
  position: relative;
  top: 0;
}
#main-nav .sub-nav > li {
  background: none;
  list-style-type: none;
  padding: 0;
  margin: 0 1em 0 0;
}
#main-nav .sub-nav > li > a {
  width: auto;
  font-size: 12px;
  display: block;
  padding: 7px 15px 7px 30px;
  color: #FFF;
}
#main-nav .sub-nav > li > a:hover {
  text-decoration: none;
  background-color: #4d4d4d;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#main-nav .sub-nav > li > a i {
  position: relative;
  top: 1px;
  margin-right: .65em;
  color: #fff;
  font-size: 13px;
}
/* ---------------------------------- */
/* @Footer */
#footer {
  width: 100%;
  padding: 12px;
  color: #999;
  text-align: right;
  background: #222;
}
#footer:before,
#footer:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#footer:after {
  clear: both;
}
#footer a {
  color: #e5412d;
}
#footer .nav > li {
  display: inline-block;
  padding: 0 5px;
}
#footer .nav > li > a {
  display: inline;
  padding: 0;
}
#footer .nav > li > a:hover {
  text-decoration: underline;
  background: transparent;
}
/* ---------------------------------- */
/* @Content */
#content {
  background: #FFF;
  width: auto;
  min-height: 800px;
  z-index: 18;
  padding-bottom: 25px;
  margin-left: 240px;
  margin-right: 20px;
  position: relative;
  left: auto;
  top: auto;
}
#content-header {
  position: relative;
  top: -96px;
  width: 100%;
  height: 96px;
  margin-bottom: 2em;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #eeeeee, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-bottom: 1px solid #CCC;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#content-header:before,
#content-header:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#content-header:after {
  clear: both;
}
#content-header h1 {
  position: relative;
  left: 20px;
  margin: 0;
  color: #444;
  font-size: 32px;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
#content-container {
  position: relative;
  top: -96px;
  padding: 0 20px;
}
#content-container .portlet {
  margin-bottom: 2em;
}
#content-container .row {
  margin-bottom: 2em;
}
#content-container .row.row-marginless {
  margin-bottom: 0 !important;
}
#content-container .row > div .portlet:last-child {
  margin-bottom: 0;
}
.row.nomargin {
  margin-bottom: 0;
}
.error-container {
  margin-top: 1em;
  text-align: center;
}
.error-code {
  display: inline-block;
  vertical-align: top;
  font-size: 100px;
  font-weight: 600;
  line-height: .7em;
}
.error-details {
  display: inline-block;
  vertical-align: top;
  margin-top: 4em;
}
.error-details ul {
  text-align: left;
}
@media (min-width: 768px) {
  .error-container {
    margin-top: 2.5em;
  }
  .error-details {
    width: 250px;
    margin-top: 0;
    margin-left: 25px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .error-container {
    margin-top: 5em;
  }
  .error-code {
    font-size: 150px;
  }
  .error-details {
    width: 350px;
    margin-left: 50px;
  }
}
.heading {
  padding-bottom: 8px;
  margin-bottom: 1.35em;
  border-bottom: 1px dotted #CCC;
}
.heading-inline {
  display: inline-block;
}
.col-sidebar-right {
  border-left: 1px solid #DDD;
  padding-left: 2em;
}
@media (max-width: 992px) {
  .col-sidebar-right {
    border-left: none;
    padding-left: 15px;
  }
}
.media-table > tbody > tr > td {
  vertical-align: middle;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.clear {
  clear: both;
}
.chart-holder {
  position: relative;
  width: 100%;
  height: 300px;
}
.table > tbody > .row-subtotal > td {
  border-top: 2px solid #000;
}
ul.support-list {
  margin-top: 2em;
}
ul.support-list li {
  margin-left: 2.5em;
}
.fontawesome-icon-list {
  text-align: center;
}
.fontawesome-icon-list a {
  display: inline-block;
  margin-bottom: 3em;
  color: #666;
}
.fontawesome-icon-list a:hover {
  color: #e5412d;
  text-decoration: none;
}
.fontawesome-icon-list .fa {
  display: block;
  margin-bottom: .5em;
  font-size: 20px;
}
@media (max-width: 768px) {
  body {
    background-image: none;
  }
  #search {
    width: 100%;
    min-height: 0;
    display: block;
  }
  #search form #search-btn {
    left: auto;
    right: 5px;
  }
  #search form .form-control {
    width: 100%;
  }
  .fc-header-right {
    display: none;
  }
  .fc-header-center h2 {
    margin-top: 3px;
    font-size: 14px;
  }
  #site-logo {
    top: 5px;
  }
  #footer .nav + .nav {
    margin-top: 1em;
  }
  #footer .nav.pull-left,
  #footer .nav.pull-right {
    float: none !important;
    text-align: left !important;
  }
  #footer .nav > li {
    display: block;
  }
  /* ---------------------------------- */
  /* @Header */
  #header {
    height: 60px;
  }
  #header .navbar-toggle {
    margin-top: 15px;
  }
  #header .navbar-toggle.collapsed:hover {
    background-color: transparent;
  }
  #content {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
  }
  #content-header {
    top: 0;
    height: auto;
    line-height: auto;
    padding: 15px;
  }
  #content-header h1 {
    position: static;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.35em;
    letter-spacing: -1px;
  }
  #content-container {
    position: static;
    top: 0;
    padding-bottom: 30px;
  }
  #top-bar {
    position: static;
    padding: 0 7px;
    margin-left: 0;
    background-color: #444;
    border-top: 1px solid #5a5a5a;
    border-bottom: 1px solid #111;
  }
  #top-bar .nav {
    float: none !important;
  }
  #top-bar .nav > li {
    float: none;
  }
  #top-bar .nav > li > a {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 13px;
  }
  #top-bar .nav > li > a .caret {
    margin-top: -2px;
  }
  #top-bar .nav .dropdown-menu {
    position: static;
    width: 100%;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #top-bar .nav .dropdown-menu::before,
  #top-bar .nav .dropdown-menu::after {
    display: none;
  }
  #top-bar .nav .dropdown-menu > li > a {
    padding-left: 32px;
    color: #FFF;
  }
  #top-bar .nav .dropdown-menu .divider {
    background-color: #555;
  }
  /* ---------------------------------- */
  /* @Sidar */
  #sidebar {
    width: 100%;
    float: none;
    position: static;
  }
  #sidebar ul {
    width: 100%;
  }
  #mainNav .dropdown .dropdownArrow {
    top: 15px;
  }
}
@media (max-width: 992px) {
  #content-container .row {
    margin-bottom: 0;
  }
  #content-container .row > div {
    margin-bottom: 2em;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #sidebar-wrapper.collapse,
  #top-bar.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
