<div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h3 data-bind="text: header"></h3>
                <span class="center-line"></span>
                <p data-bind="text: subHeading">
                    
                </p>
            </div>
        </div><!--section title-->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form class="reservation-form" data-bind="attr: { method: method, action: action}">
                    <div class="row">
                        <div class="control-group"></div>
                        <div class="col-xs-12 col-sm-6 controls">
                            <input class="form-control" type="text" name="customer_name" placeholder="name" required>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input 
                            class="form-control" 
                            type="tel" 
                            name="phone_number" 
                            placeholder="phone"
                            >
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input id="email" class="form-control" type="email" name="email_address" placeholder="e-mail" required>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="number" name="party_of" placeholder="number of person" required>
                        </div>
                        <!-- vardate -->
                        <div class="col-xs-12 col-sm-6">
                            <input id="datepicker" class="form-control" type="text" name="requested_date" placeholder="date" required>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input id="vartime" class="form-control" type="time"  placeholder="time" required>
                        </div>
                        <!-- /vardate -->
                        <div class="col-xs-12 col-sm-12">
                            <textarea class="form-control" rows="3" name="notes" placeholder="message & special request"></textarea>
                        </div>
                        <div class="col-xs-12 col-sm-12 margin-b-30">
                            <button id="book-a-table" type="submit" class="btn btn-light btn-block btn-lg" data-bind="click: makeReservation">make a reservation</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

<!-- AfterRender did not work here.  So I just called the datepicker function here inline  -->
<!-- ko text: pickerDate() -->
<!-- /ko -->
<!-- ko text: makeReservation() -->
<!-- /ko -->