<div id="login-container">

				<div id="logo">
					<a href="../login.html">
						<img src="ui/img/logos/logo-login.png" alt="Logo" width="100" height="100"/>
					</a>
				</div>
			
				<div id="login">
			
					<h3>Welcome to KendallGroup Admin</h3>
			
					<h5>Login with Your Social Accounts</h5>
			
					<br />
			
					<div class="row">		
			
						<div class="col-sm-6">
			
							<a href="../index.html" class="btn btn-twitter btn-block">
								<i class="fa fa-twitter"></i>
								&nbsp;&nbsp;Login with Twitter
							</a>
			
						</div> <!-- /.col -->
					
						<div class="col-sm-6">
			
							<a href=".. /index.html" class="btn btn-facebook btn-block">
								<i class="fa fa-facebook"></i>
								&nbsp;&nbsp;Login with Facebook
							</a>
			
						</div> <!-- /.col -->
			
					</div> <!-- /.row -->
			
					<br />
			
					<span class="text-muted">OR, SIGN IN BELOW</span>
			
			
					<form >
			
						<div class="form-group">
							<label for="login-username">Username</label>
							<input type="text" class="form-control" id="login-username" name="username" placeholder="Username" required>
						</div>
			
						<div class="form-group">
							<label for="login-password">Password</label>
							<input type="password" class="form-control" id="login-password" name="password" placeholder="Password" required>
						</div>
			
						<div class="form-group">
			
							<button >Signin &nbsp; <i class="fa fa-play-circle"></i></button>
			
						</div>
					</form>
			
			
					<a href="javascript:;" class="btn btn-default">Forgot Password?</a>
			
				</div> <!-- /#login -->
			
				<a href="javascript:;" id="signup-btn" class="btn btn-lg btn-block">
					Create an Account
				</a>
			
			
			</div> <!-- /#login-container -->