<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 center-title text-center">
            <h3 data-bind="text: header"></h3>
            <span class="center-line"></span>
            <p data-bind="text: subHeading">
            </p>
        </div>
    </div><!--section title-->
    <div class="row" data-bind="template: { name: 'eventsList', foreach: events}">
        
    </div>
</div>

<script type="text/html" id="eventsList">
    <div class="col-sm-4 margin-b-30">
        <div class="event-thumb">
            <img src="img/skyboxevents2.jpg" alt="" class="img-responsive" data-bind="attr: { src: url}">
            <div class="overlay">
                <div class="overlay-inner">
                    <h4 data-bind="text: eventNameOverlay"></h4>
                    <p data-bind="text: eventHeaderOverlay"></p>
                </div>
            </div>
        </div><!--event thumbnail-->
        <div class="event-desc clearfix">
            <h4 data-bind="text: eventName"></h4>
    
            <span class="date" data-bind="text: eventdate"></span><span class="time" data-bind="text: eventtime"></span>
            <p data-bind="text: eventTagline"></p>  
            <a href="#" data-bind="attr: {href: link}, text: buttontext"><i class="fa fa-angle-right"></i></a>
        </div>
    </div><!--event entry column-->
</script>



