<div class="portlet">

    <div class="portlet-header">

        <h3>
            <i class="fa fa-bar-chart-o"></i>
            Area Chart
        </h3>

    </div> <!-- /.portlet-header -->

    <div class="portlet-content">

        <div class="pull-left">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-sm btn-default">
                <input type="radio" name="options" id="option1"> Day
              </label>
              <label class="btn btn-sm btn-default">
                <input type="radio" name="options" id="option2"> Week
              </label>
              <label class="btn btn-sm btn-default active">
                <input type="radio" name="options" id="option3"> Month
              </label>
            </div>

            &nbsp;

              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                  Custom Date
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="javascript:;">Dropdown link</a></li>
                  <li><a href="javascript:;">Dropdown link</a></li>
                </ul>
              </div>
            
        </div>

        <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog"></i> &nbsp;&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="javascript:;">Action</a></li>
                <li><a href="javascript:;">Another action</a></li>
                <li><a href="javascript:;">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="javascript:;">Separated link</a></li>
              </ul>
            </div>
        </div>

        <div class="clear"></div>
        <hr />


        <div id="area-chart" class="chart-holder" style="height: 250px"></div> <!-- /#bar-chart -->

    </div> <!-- /.portlet-content -->

</div> <!-- /.portlet -->