<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" data-bind="text: brandName, attr: { href: url }">SkyBoxx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav scroll-to navbar-right" data-bind="template: {name: 'otherLinks', foreach: extNav}">    
                    </ul>
            <ul class="nav navbar-nav scroll-to navbar-right" data-bind="template: { name: 'menuLink', foreach: intNav}">
            </ul>
            
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<script type="text/html" id="menuLink">
    <li><a href="#" data-bind="text: navName, attr: { href: '#' + navLink}"></a></li>
</script>

<script type="text/html" id="otherLinks">
    <li><a href="#" data-toggle="" data-target="" data-bind="text: navName, attr: {'data-toggle': linkType, 'data-target': target}"></a></li>
</script>


