<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 center-title text-center">
            <h3 data-bind="text: header"></h3>
            <span class="center-line"></span>
            <p data-bind="text: subHeading"></p>
        </div>
    </div><!--section title--> 
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="opening-hours-box">
                <h1 data-bind="text: weekend"></h1>
                <h3 data-bind="text: weekendHours"></h3>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="opening-hours-box">
                <h1 data-bind="text: weekday"></h1>
                <h3 data-bind="text: weekHours"></h3>
            </div>
        </div>
    </div>
    <div class="row margin-b-30">
        <div  class="col-sm-12 text-center">
            <a class="btn btn-lg btn-yellow" data-bind="text: tel"></a>
        </div>
    </div>
</div>