<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 center-title text-center">
            <h3 data-bind="text: header"></h3>
            <span class="center-line"></span>
            <p data-bind="text: subHeading"></p>
        </div>
    </div><!--section title-->
    <div class="row">
        <div id="dishes-slider" class="owl-carousel owl-theme dishes-slider" data-bind="template: { name: 'dishItems', foreach: poplist}">
            
        </div>
    </div>
</div>
<!-- AfterRender did not work here.  So I just called the owl-carosel function here inline  -->
<!-- ko text: initOwl() -->
<!-- /ko -->

<script type="text/html" id="dishItems">
    <div class="item">
        <div class="dishes-box">
            <img src="#" class="img-responsive" alt="" data-bind="attr: { src: url}">
            <span class="price-dishes" data-bind="text: price"></span>
            <div class="dishes-desc">
                <h3 data-bind="text: menuItemName"></h3>
                <p data-bind="text: description"></p>                                    
            </div>
        </div>
    </div><!--item carousel-->
</script>